header
	h1: a(href="/")
	ul
		li
			a(href="/", name="entry") Edition
		li
			a(href="/search", name="showSearch") Search
		li
			a(href="/annotations", name="annotationsIndex") Annotation Overview

	img(src="https://www.huygens.knaw.nl/wp-content/themes/huygens/img/logo-blue.svg", width="92px", height="66px")
#main
	.search-view
	.annotations-view
	.entries
