.modal
	button.submit
		simplebutton()

	button.cancel
		color #D10000
		border none
		background none
		position relative
		padding-right 16px

		&:after
			position absolute
			right 0
			color #444
			content 'or'