@import '../import/*'

.modal
	button.submit
		simplebutton()

	button.cancel
		color #D10000
		border none
		background none
		position relative
		padding-right 16px

		&:after
			position absolute
			right 0
			color #444
			content 'or'


.modal.entry-metadata
	button
		&.loader
			background white
			padding-bottom 6px
			cursor default
			vertical-align middle

			&:after
				content url('/images/hilib/views/modal/loader.gif')
				margin-left 6px
				position relative
				top 3px