@import '../import/*'

.submenu
	select_none()
	background-color #444
	position fixed
	left 0
	right 0
	top mainHeaderHeight
	z-index 49 // render .main above .sub
	height 40px
	padding-left 20px

	.cell .horizontal.menu
		li[data-key="editmetadata"]
			color gray
			
			&.enabled
				color #79C8C6

	li[data-key="publish"]
		i.fa
			line-height 24px
			display none

		&.active
			span:after
				content '...'

			i.fa
				display inline-block
				margin-left 8px
				color white
			
			// padding-right 24px

			// &:after
			// 	position absolute
			// 	top 3px
			// 	right 5px
			// 	content url('/images/loader_transparent.gif')

	.row
		margin 0 auto

		*
			vertical-align middle

	& .cell
		line-height subHeaderHeight

		ul.horizontal.menu > li
			elaboratebutton()
			position relative

			&.alignright
				position absolute
				right 0
				top 50%
				margin-top -0.5 * @line-height

			&[data-key="previous"], &[data-key="next"]
				opacity 0.4

				&.active
					opacity 1

			&[data-key="previous"]
				arrowleft(spotcolor)
				padding-right 0

				&:after
					margin-left -6px

			&[data-key="current"]
				background none
				box-shadow none
				color #CCC
				max-width 115px
				text-overflow ellipsis
				overflow hidden


			&[data-key="next"]
				arrowright(spotcolor)
				padding-right 10px

				&:after
					margin-left -3px

			&[data-key="facsimiles"], &[data-key="editfacsimiles"], &[data-key="edittextlayers"], &[data-key="layer"], &[data-key="textlayers"]
				arrowdown(spotcolor)

				span
					color darken(spotcolor, 20%)
					display inline-block
					margin-top -3px

			&[data-key="delete"]
				background #A00
				color #eee
				box-shadow none


		ul.vertical.menu 
			border-bottom-left-radius 6px
			border-bottom-right-radius 6px

			&.facsimiles, &.textlayers
				li
					padding-left 20px

				li.active:before
					content '✓ '
					position absolute
					margin-left -12px

			& > li
				border-bottom 1px solid #666
				background-color #444
				box-shadow 2px 0px 4px #888
				overflow hidden
				text-overflow ellipsis
				font-weight normal
				color lighten(spotcolor, 50%)

				&.spacer
					background none
					height 8px
					box-shadow none

				&:hover
					color spotcolor

				&:last-child
					border-bottom-left-radius 6px
					border-bottom-right-radius 6px
					box-shadow 2px 0px 4px #888

				&[data-key="edittextlayers"], &[data-key="editfacsimiles"]
					color #BBB

					&:hover
						color #DDD
