.subsubmenu
	position fixed
	left 0
	right 0
	top -200px
	// height 120px
	background-color #666
	box-shadow 0 30px 60px rgba(17, 17, 17, 0.8)
	transition top 300ms
	z-index 48
	// top mainHeaderHeight + 40px /* tmp */

	top mainHeaderHeight + 40px

	h3
		margin 0 0 10px 0
		color #CCC
		text-shadow 1px 1px 1px #000
		font-size 1em

	.editfacsimiles, .edittextlayers
		display none

		.close-button
			position absolute
			top 10px
			right 10px
			width 16px
			border-radius 4px
			background #888
			color #DDD
			font-size 15px
			font-weight bold
			line-height 16px
			text-align center
			cursor pointer

			&:hover
				color white

		form.addfile
			display none

		ul
			list-style none

			&.textlayers, &.facsimiles
				white-space nowrap

				// Use the star to override the user agent stylesheet
				& *
					cursor pointer


				li.destroy
					span.name
						color #CCC
						border 1px solid #5C0000
						padding 3px 8px 6px 6px
						font-weight bold
						border-radius 6px
						text-shadow 1px 1px 1px #000
						box-shadow 1px 1px 4px #333
						background-color #910000
						font-size 0.9em

						label
							width auto

					span.orcancel
						display inline-block

				span.orcancel
					margin-left 6px
					display none

			li
				margin-bottom 6px
				color lighten(spotcolor, 30%)

				label
					display inline-block
					width 40px

				input, textarea
					width 200px
					border 1px solid #666
					padding 0 0 0 2px
					margin 0

				button
					elaboratebutton()
					display none

					&.loader:after
						content url('../../../static/images/loader_transparent.gif')
						margin-left 6px
						position relative
						top 3px

				button, input[type="file"]
					margin-left 40px

				img
					margin-right 6px
