teak = #f1e8e1

#tooltip, .tooltip
	position absolute
	padding 0
	z-index 1000
	background teak
	border-radius 10px
	box-shadow 1px 1px 5px #969696
	min-width 72px
	max-width 200px
	line-height 1em
	white-space normal
	opacity 0

	&.active
		opacity 1

	&.addannotation
		button
			border 0
			background none
			padding-top 2px
			font-weight normal
			color black
			box-shadow none
			margin 0


	&.newannotation
		min-width 36px

		.tooltip-body
			display none

		.horizontal.menu
			border-bottom-left-radius 10px
			border-bottom-right-radius 10px
			padding-bottom 4px

			&.left
				width 36px
				text-align center

				li.delete
					margin 0

			&.right
				display none


	.horizontal.menu
		border-top-left-radius 10px
		border-top-right-radius 10px
		padding 8px 0 6px 0
		background teak
		display inline-block

		&.left
			text-align left

		&.right
			float right
			padding-right 4px

		li
			padding 0
			margin 0 0 0 4px
	

	.tooltip-body
		border-top 1px solid darken(teak, 10%)
		border-bottom-left-radius 10px
		border-bottom-right-radius 10px
		background darken(teak, 3%)
		padding 10px
		max-height 300px
		overflow-y auto


	&:after
		position absolute
		width 0
		height 0
		border-style solid
		border-width 10px
		border-color transparent transparent teak transparent
		top -20px
		left 50%
		margin-left -10px
		content ""

	&.tipright:after
		left 66%

	&.tipleft:after
		left 33%

	&.tipbottom:after
		border-color darken(teak, 3%) transparent transparent transparent
		bottom -20px
		top auto