// .resultview
// 	.editselection-placeholder
// 		background #F1F1F1
// 		box-shadow 0 0 6px #AAA
// 		margin-bottom 20px
// 		border-radius 6px

// 		h3
// 			margin 0
// 			padding 12px

// 		form
// 			padding 12px

// 		li
// 			*
// 				vertical-align middle

// 			input
// 				margin-left 4px

// 		footer
// 			text-align right
// 			padding 0 8px 8px 0

// 			*
// 				vertical-align middle

// 			button[name="savemetadata"]
// 				margin 0

// 				&.loader
// 					background white
// 					padding-bottom 6px

// 					&:after
// 						content url('/images/loader.gif')
// 						margin-left 6px
// 						position relative
// 						top 3px

// 			button[name="cancel"]
// 				background none
// 				border none
// 				color #F66
// 				border-radius 4px

// 			span
// 				margin 0 8px 0 4px