.projecthistory, .statistics
	padding-left 40px

.projecthistory
	.entries, button.more
		margin-bottom 40px

	h3
		color #444

	ul
		list-style none
		margin-left 16px

		span
			display inline-block
			overflow-x hidden
			text-overflow ellipsis

			&.username
				color gray