.projectsearch
	.submenu
		box-shadow 0 12px 12px #FFF

		li[data-key="publish"]
			&.active
				padding-right 24px

				&:after
					position absolute
					top 3px
					right 5px
					content url('/images/loader_transparent.gif')
	
	.resultview

		&.editmetadata
			ul.entries
				list-style none
				margin-left -16px

				label
					display inline

					&[data-id]
						display none

				input[type="checkbox"]
					display inline-block
					margin-right 4px


			.editselection-placeholder
				display block

		header
			background white
			padding-bottom 12px
			border-bottom 1px solid #DDD

			h3
				margin-top 0	

			nav
				color spotcolor

				ul
					li
						margin-left 6px
						cursor pointer
						display inline-block

						label
							color black
							cursor default

			.editselection-placeholder
				display none
				background #F1F1F1
				box-shadow 0 0 6px #AAA
				margin-bottom 20px
				border-radius 6px

				h3
					margin 0
					padding 12px

				form
					padding 12px

				li
					*
						vertical-align middle

					input[type="checkbox"]
						margin-left 6px

				footer
					text-align right
					padding 0 8px 8px 0

					*
						vertical-align middle

					button[name="savemetadata"]
						margin 0

					button[name="cancel"]
						background none
						border none
						color #F66
						border-radius 4px

					span
						margin 0 8px 0 4px

			// .numfound-placeholder

			.pagination-placeholder
				.pagination
					select_none()
					display none
					
					li
						color spotcolor
						padding 4px

					.inactive, .text
						color #BBB
						cursor default

		ul.entries
			margin-top 20px
			list-style square
			padding-left 16px

			li
				margin-bottom 12px

				input[type="checkbox"]
					display none
				
				label
					display none
					font-size 1.1rem
					cursor pointer
					padding 2px 4px
					border-radius 2px

					&:hover
						background lighten(spotcolor, 70%)
					
					&[data-id]
						display inline


				.keywords
					color #BBB
					display none

					ul
						list-style none
						margin-top 4px

						li
							margin 0
							margin-left 18px

							em
								color spotcolor2

