.projectsearch
	.resultview
		header
			padding-bottom 12px
			border-bottom 1px solid #DDD

			margin-top 10px

			h3
				margin-top 0	

			nav
				color spotcolor

				ul
					li
						margin-left 6px
						cursor pointer
						display inline-block

						label
							color black
							cursor default

			.pagination
				select_none()
				display none
				
				li
					color spotcolor
					padding 4px

				.inactive, .text
					color #BBB
					cursor default

		& > ul
			margin-top 20px
			list-style none

			li
				margin-bottom 12px

				input[type="checkbox"]
					margin-right 4px
				
				label
					// font-weight bold
					font-size 1.1rem
					cursor pointer

				.keywords
					color #BBB
					display none

					ul
						list-style none
						margin-top 4px

						li
							margin 0
							margin-left 18px

							em
								color spotcolor2

