.projectsearch
	.submenu
		box-shadow 0 12px 12px #FFF
	
	.resultview
		header
			padding-bottom 12px
			border-bottom 1px solid #DDD

			h3
				margin-top 0	

			nav
				color spotcolor

				ul
					li
						margin-left 6px
						cursor pointer
						display inline-block

						label
							color black
							cursor default

			.editselection-placeholder
				display none
				background #F1F1F1
				box-shadow 0 0 6px #AAA
				margin-bottom 20px
				border-radius 6px

				form
					padding 12px

				li
					*
						vertical-align middle

					input[type="checkbox"]
						margin-left 6px

				footer
					text-align right
					padding 0 8px 8px 0

					*
						vertical-align middle

					button[name="cancel"]
						background none
						border none
						box-shadow 1px 1px 2px #CCC
						color #F66
						border-radius 4px

					span
						margin 0 4px 0 8px

			// .numfound-placeholder

			.pagination-placeholder
				.pagination
					select_none()
					display none
					
					li
						color spotcolor
						padding 4px

					.inactive, .text
						color #BBB
						cursor default

		& > ul
			margin-top 20px
			list-style none

			li
				margin-bottom 12px

				input[type="checkbox"]
					margin-right 4px
				
				label
					// font-weight bold
					font-size 1.1rem
					cursor pointer

				.keywords
					color #BBB
					display none

					ul
						list-style none
						margin-top 4px

						li
							margin 0
							margin-left 18px

							em
								color spotcolor2

