@import '../import/*'

.projectsettings
	.tab.menu
		font-size 0
		li
			color lighten(black, 30%)
			padding 8px 30px 6px 30px
			margin 0
			border 1px solid #DDD
			border-left 0
			border-bottom 0
			background-color #EEE

			&:first-child
				border-left 1px solid #DDDDDD
				border-top-left-radius 8px

			&:last-child
				border-top-right-radius 8px

			&:hover
				background-color lighten(#DDDDDD, 30%)

			&.active
				color black
				background-color #FFF
				box-shadow 0px 1px 0px #FFF // To blur the top border of the div[data-tab]

	div[data-tab]
		display none
		padding 0 10px 60px 10px
		box-shadow 1px 1px 3px #DDD
		border 1px solid #DDD
		border-radius 12px
		border-top-left-radius 0px
		max-width 1000px

		&.active
			display block

		h4
			margin-top 3px
			margin-right 10px
			display inline-block

		// .adduser
		// 	input[type="submit"]
		// 		margin-left 0px

		ul.selected-annotation-types
			padding-left 16px

			li
				margin-bottom 6px

				span.description
					color gray

	// div[data-tab="project"]
	// 	.general, .publication
	// 		display inline-block

	// 	.publication
	// 		vertical-align top
	// 		margin-left 100px

	// 		label
	// 			vertical-align top

	// 		select[name="text.font"]
	// 			margin-bottom 20px

	// 		img
	// 			border 1px solid #CCC

	div[data-tab="users"]
		position relative
		min-height 200px

		.listandroles, .adduser
			width 50%
			display inline-block
			box-sizing border-box
			vertical-align top

		.listandroles
			padding 20px

		.userroles
			margin-top 60px
			
			ul
				list-style square
				margin-left 16px

			select
				background none
				border 1px solid #CCC
				margin-right 8px

		.adduser
			fieldset
				border-left 1px solid #EEE

	div[data-tab="annotations"]
		.set-custom-tag-names, .add-annotation-type, .annotation-type-list
			width 33.33%
			box-sizing border-box
			display inline-block
			vertical-align top

		.annotation-type-list
			padding 20px

		.add-annotation-type
			fieldset
				border-left 1px solid #EEE
				border-right 1px solid #EEE

	div[data-tab="entries"]
		.entry-list, .set-names, .sort-levels
			width 33.33%
			box-sizing border-box
			display inline-block
			vertical-align top

		.entry-list, .sort-levels
			padding 20px

		.sort-levels
			button.savesortlevels
				&.loading
					i.fa.fa-spinner
						display inline-block
					
				i.fa.fa-spinner
					display none
					margin-left 8px

					

		.set-names
			fieldset
				border-left 1px solid #EEE
				border-right 1px solid #EEE