.projectsettings

	.tab.menu
		font-size 0
		li
			color lighten(black, 30%)
			padding 8px 30px 6px 30px
			margin 0
			border 1px solid #DDD
			border-left 0
			border-bottom 0
			background-color #EEE

			&:first-child
				border-left 1px solid #DDDDDD
				border-top-left-radius 8px

			&:last-child
				border-top-right-radius 8px

			&:hover
				background-color lighten(#DDDDDD, 30%)

			&.active
				color black
				background-color #FFF
				box-shadow 0px 1px 0px #FFF // To blur the top border of the div[data-tab]

	div[data-tab]
		display none
		padding 0 10px 60px 10px
		box-shadow 1px 1px 3px #DDD
		border 1px solid #DDD
		border-radius 12px
		border-top-left-radius 0px

		&.active
			display block

		h4
			margin-top 3px
			margin-right 10px
			display inline-block

		.adduser
			input[type="submit"]
				margin-left 0px

		// div[data-tab="users"]
		// 	button.edit
		// 		button(lighten(spotcolor, 30%), darken(spotcolor, 30%))
		// 		margin-left 8px
		// 		line-height 16px
		// 		text-shadow 1px 1px 1px #666
		// 
		// 		&:active
		// 			box-shadow 1px 1px 4px #858585
		// 
		// form
		// 	& > .row
		// 		margin-top 10px

		// 	.row .cell:first-child
		// 		min-width 80px
		// 		max-width 120px

		// 	label
		// 		display inline-block
		// 		width 100px
		// 		line-height 30px
		// 		vertical-align middle

		// 	input
		// 		display inline-block
		// 		width 94% // 94 (width) + 2 (padding-left) + 2 (padding-right) = 98% Leave 2% to compensate for the 1px border
		// 		padding 2%
		// 		border 1px solid #DDD

// input
// 	&:focus
// 		border 1px solid rgba(70, 170, 168, 0.4)
// 		box-shadow 0 0 12px rgba(70, 170, 168, 0.5)
// 		outline 0