#container > .search > .edit-metadata
	.form, .results
		position absolute
		box-sizing border-box
		padding 20px
		top 100px
		
	h2
		padding-left 20px
		
	h3
		font-size 1.4em
		color #888

	.form
		width 40%
		
		form
			box-sizing border-box
			width 100%
			padding 10px
			background #EEE
			border-radius 6px
			
			ul
				li.empty
					text-align right
					color #888
					
				li.publishable
					div.publishable-checkbox-container
						width 60%
						inline-block()
						
						input
							width auto
			
			label, input
				padding 0
				margin 0
			
			label
				width 30%
				
			input[type="text"]
				width 60%
				padding-left 4px
				box-sizing border-box
				height 24px
				
			input[type="checkbox"]
				width 10%
				outline none

	.results
		width 60%
		left 40%
	
		&.show-metadata
			li.result ul.metadata
				display block
					
		.head
			h3, .menu, .menu .select-all, .menu .show-metadata
				inline-block()
				
			h3
				small
					font-size 0.7em
					margin-left 6px
					
			.menu
				margin-left 40px
				
				.select-all, .show-metadata
					line-height 56px
					
					*
						vertical-align middle
						
				.show-metadata
					margin-left 10px
		
		& > ul
			list-style none
			
			& > li.result
				font-size 1.2em
				margin-bottom 8px
				
				*
					vertical-align middle
					
				input, label
					inline-block()
					
				label
					margin-left 4px
					max-width 90%
					
				ul.metadata
					display none
					list-style none
					font-size 0.8em
					
					.key
						color #888
