ul.horizontal.menu.left(style=interactive?'visibility:visible':'visibility:hidden')
	//- Readers cannot edit or delete.
	if user.get('roleNo') >= 20
		li.edit
			img(src="/static/images/icon.edit.png", title="Edit annotation")
		li.delete
			img(src="/static/images/icon.bin.png", title="Delete annotation")

.annotation-type

ul.horizontal.menu.right
	li.close
		img(src="/static/images/icon.close.png", title="Close annotation")

.tooltip-body

if bioPortId != null
	.bio-port-id= bioPortId
