form
	ul(data-model-id!="<%= model.cid %>")
		li
			label Name
			input(type="text", name="name")
		li
			label Description
			input(type="text", name="description")
		li
			input(type="submit", value="Add annotation type")