form
	ul(data-model-id!="<%= model.cid %>")
		li
			label Username
			input(type="text", name="username")
		li
			label E-mail
			input(type="text", name="email")
		li
			label First name
			input(type="text", name="firstName")
		li
			label Last name
			input(type="text", name="lastName")
		li
			label Password
			input(type="password", name="password")
		li
			input(type="submit", name="adduser", value="Add user")