.padl5.padr5
	h2 Settings

	ul.horizontal.tab.menu
		li.active(data-tab="project") Project
		li(data-tab="metadata-entries") Entry metadata
		li(data-tab="metadata-annotations") Annotation types
		li(data-tab="users") Users

	.active(data-tab="project")
		h3 Project

		.row.span2
			.cell.span1
				form
					ul
						li
							label(for="type") Type
							input#type(type="text", name="type", value!="<%= settings.Type %>", data-attr="Type")
						li
							label(for="title") Project title
							input#title(type="text", name="title", value!="<%= settings['Project title'] %>", data-attr="Project title")
						li
							label(for="leader") Project leader
							select(name="leader", data-attr="Project leader")
								option -- select member --
								| <% projectMembers.each(function(member) { %>
								|<% var selected = (member.id === parseInt(settings['Project leader'], 10)) ? ' selected' : ''; %>
								|<option value="<%= member.id %>"<%= selected %>><%= member.get('title') %></option>
								| <% }); %>
							//- input#leader(type="text", name="leader", value!="<%= settings['Project leader'] %>", data-attr="Project leader")
						li
							label(for="start") Start date
							input#start(type="text", name="start", value!="<%= settings['Start date'] %>", data-attr="Start date")
						li
							label(for="release") Release date
							input#release(type="text", name="release", value!="<%= settings['Release date'] %>", data-attr="Release date")
						li
							label(for="version") Version
							input#version(type="text", name="version", value!="<%= settings.Version %>", data-attr="Version")
						li
							input.inactive(type="submit", name="savesettings", value="Save settings")
			.cell.span1
				h4 Statistics 
				img.loader(src="/images/loader.gif")
				pre.statistics

	div(data-tab="metadata-entries")
		h3 Add entry metadata field
		
		
	div(data-tab="metadata-annotations")
		
	div(data-tab="users")
		.row.span3
			.cell.span1.userlist
				h3 Project members
			.cell.span2.adduser
				h3 Add new user to project