h3 Add annotation type

form
	ul
		li
			label Name
			input(type="text", name="annotationname")
		li
			label Description
			input(type="text", name="annotationdescription")
		li
			input(type="submit", value="Add annotation type", name="addannotationtype")


ul
	| <% annotationTypes.each(function(annotationType) { %>
	li(data-id!="<%= annotationType.id %>") <%= annotationType.get('description') %>
	| <% }); %>