h3 Add annotation type

form
	ul
		li
			label Name
			input(type="text", name="annotationname")
		li
			label Description
			input(type="text", name="annotationdescription")
		li
			input(type="submit", value="Add annotation type", name="addannotationtype")


ul.selected-annotation-types
	| <% annotationTypes.each(function(annotationType) { %>
	li(data-id!="<%= annotationType.id %>")
		span.name <%= annotationType.get('name') %>
		br
		span.description <%= annotationType.get('description') %>
	| <% }); %>