article
	.image_copyright_statement
		font-size 11px
		padding-left 10px
		color #8f8f8f
		position relative
		top -10px
	h2
		text-align center
		margin 30px 15%

		i.print
			font-size 0.7em
			color #AAA
			cursor pointer
			margin-left 10px