@import 'nib'

@media print
	html, body
		overflow visible !important

	body > header
		padding 0

	#main
		.entries
			.entry
				& > header, & > nav
					display none

				article
					h2, h3, h4
						margin 0
						padding 0

					.panels-menu, .metadata
						display none

					.panels
						height auto !important

						.facsimile
							display none !important

						.elaborate-annotated-text
							width 100%
							margin-bottom 100px

							&.visible
								display block !important

							.text, .annotations
								width 100%
								display block

							.text
								h3
									font-size 1.2em
									color black

							.annotations
								ol
									list-style decimal !important

									li
										overflow-x visible

										&:before
											background none
											content none !important

										div.type
											display block

											span
												background none
												padding 0
												margin 0

										span
											white-space normal

							
								

					i.fa, select
						display none
