.main
	.row.span3
		.cell.span1.project.aligncenter
			img(src="/images/logo.elaborate.png")
			//- span.white.projecttitle <%= project.get('title') %>
			ul.horizontal.menu
				li.thisproject.arrowdown 
					span.projecttitle <%= projects.current.get('title') %>
					ul.vertical.menu
						//- li.spacer
						li.search Search &amp; overview
						li.settings Project settings
						li.history History
						li.publish Publish
		.cell.span1
			span.message
		.cell.span1.user.alignright
			ul.horizontal.menu
				li Help
				li.username.arrowdown <%= user.title %>
					ul.vertical.menu
						//- li.spacer
						li.projects.arrowleft My projects
							ul.vertical.menu
								| <% projects.each(function(project) { %>
								li.project(data-id!="<%= project.id %>") <%= project.get('title') %>
								| <% }); %>
						li.logout Logout
			img(src="/images/logo.huygens.png")
				
//- .sub
//- 	.row.span9
//- 		.cell.span3.left
//- 		.cell.span3.center
//- 		.cell.span3.right