ul.horizontal.menu
	li.username <%= user.title %>
		ul.vertical.menu
			li.logout Logout
	li.projects My projects
		ul.vertical.menu
			| <% state.projects.each(function(project) { %>
			li.project(data-id!="<%= project.id %>") <%= project.get('title') %>
			| <% }); %>