
<div class="padl5 padr5">
  <h2>Settings</h2>
  <ul class="horizontal tab menu">
    <li data-tab="project" class="active">Project</li>
    <li data-tab="metadata-entries">Metadata entries</li>
    <li data-tab="metadata-annotations">Metadata annotations</li>
    <li data-tab="users">Users</li>
  </ul>
  <hr/>
  <div data-tab="project" class="active">
    <h3>Project</h3>
    <div class="row span2">
      <div class="cell span1">
        <form>
          <div class="row span4">
            <div class="cell span1">
              <label for="type">Type</label>
            </div>
            <div class="cell span3">
              <input id="type" type="text" name="type" value="<%= settings.Type %>" data-attr="Type"/>
            </div>
          </div>
          <div class="row span4">
            <div class="cell span1">
              <label for="title">Project title</label>
            </div>
            <div class="cell span3">
              <input id="title" type="text" name="title" value="<%= settings['Project title'] %>" data-attr="Project title"/>
            </div>
          </div>
          <div class="row span4">
            <div class="cell span1">
              <label for="leader">Project leader</label>
            </div>
            <div class="cell span3">
              <input id="leader" type="text" name="leader" value="<%= settings['Project leader'] %>" data-attr="Project leader"/>
            </div>
          </div>
          <div class="row span4">
            <div class="cell span1">
              <label for="start">Start date</label>
            </div>
            <div class="cell span3">
              <input id="start" type="text" name="start" value="<%= settings['Start date'] %>" data-attr="Start date"/>
            </div>
          </div>
          <div class="row span4">
            <div class="cell span1">
              <label for="release">Release date</label>
            </div>
            <div class="cell span3">
              <input id="release" type="text" name="release" value="<%= settings['Release date'] %>" data-attr="Release date"/>
            </div>
          </div>
          <div class="row span4">
            <div class="cell span1">
              <label for="version">Version</label>
            </div>
            <div class="cell span3">
              <input id="version" type="text" name="version" value="<%= settings.Version %>" data-attr="Version"/>
            </div>
          </div>
        </form>
      </div>
      <div class="cell span1">
        <h4>Statistics </h4><img src="/images/loader.gif" class="loader"/>
        <pre class="statistics"></pre>
      </div>
    </div>
  </div>
  <div data-tab="metadata-entries"></div>
  <div data-tab="metadata-annotations"></div>
  <div data-tab="users"></div>
</div>