.submenu
	.row.span3
		.cell.span1
			ul.horizontal.menu
				li(data-key="newsearch") New search
		.cell.span1
			ul.horizontal.menu
				li(data-key="newentry") New entry
				li.arrowdown(data-key="editselection") Edit selection
		.cell.span1.alignright
			ul.horizontal.menu
				li(data-key="print") Print

.row.span3
	.cell.span1.faceted-search-placeholder

	.cell.span2(style="position:fixed")
		.padl4.resultview
			header
				.row.span2
					.cell.span1 
						h3.numfound
					.cell.span1.alignright
						nav
							ul
								li 
									input#cb_showkeywords(type="checkbox")
									label(for="cb_showkeywords") Display keywords
								li(data-key="selectall") Select all
								li(data-key="deselectall") Deselect all
				.row.span2
					.cell.span1 
						ul.horizontal.menu.pagination
							li.prev.inactive &lt;
							li.currentpage.text
							li.text of
							li.pagecount.text
							li.next &gt;
					.cell.span1.alignright
				.row.span2
					.cell.span1
						form.editmultiplemetadata
							ul				
					.cell.span1				

			ul.entries