.submenu
	.row.span3
		.cell.span1
			ul.horizontal.menu
				li(data-key="newsearch") New search
		if user.get('role') === 'ADMIN'
			.cell.span1
				ul.horizontal.menu
					li(data-key="newentry")= 'New '+settings.get('entry.term_singular')
					li(data-key="editselection") Edit metadata
			.cell.span1.alignright
				ul.horizontal.menu
					li(data-key="publish") Publish draft
				//- li(data-key="print") Print

.faceted-search-placeholder

.resultview
	header
		.editselection-placeholder
		.row.span2.numfound-placeholder
			.cell.span1 
				h3.numfound
			.cell.span1.alignright
				nav
					ul
						li 
							input#cb_showkeywords(type="checkbox")
							label(for="cb_showkeywords") Display keywords
						li(data-key="selectall") Select all
						li(data-key="deselectall") Deselect all
		.row.span2.pagination-placeholder
			.cell.span1 
				ul.horizontal.menu.pagination
					li.prev.inactive &lt;
					li.currentpage.text
					li.text of
					li.pagecount.text
					li.next &gt;
			.cell.span1.alignright		

	ul.entries