| <% _.each(model.get('results'), function(entry) { %>
li.entry(id!="entry<%=entry.id %>") 
	input(type="checkbox", data-id!="<%= entry.id %>")
	label(data-id!="<%=entry.id%>") <%= entry.name %>
	.keywords
		ul
			| <% _.each(entry._kwic, function(kwic) { %>
			| <% _.each(kwic, function(row) { %>
			li <%= row %>
			| <% }); %>
			| <% }); %>
| <% }); %>