fn_spin()
	-webkit-animation: fn_spin 2s 3 linear;
	-moz-animation: fn_spin 2s 3 linear;
	-o-animation: fn_spin 2s 3 linear;
	-ms-animation: fn_spin 2s 3 linear;
	animation: fn_spin 2s 3 linear;
	-webkit-animation-name: fn_spin

vertical_gradient(topColor, bottomColor)
	background topColor
	background -moz-linear-gradient(top, topColor 0%, bottomColor 100%)
	background -webkit-gradient(linear, left top, left bottom, color-stop(0%,topColor), color-stop(100%,bottomColor))
	background -webkit-linear-gradient(top, topColor 0%,bottomColor 100%)
	background -o-linear-gradient(top, topColor 0%,bottomColor 100%)
	background -ms-linear-gradient(top, topColor 0%,bottomColor 100%)
	background linear-gradient(to bottom, topColor 0%,bottomColor 100%)
	filter unquot('progid:DXImageTransform.Microsoft.gradient(startColorstr="topColor", endColorstr="bottomColor",GradientType=0 )')

select_none()
	-webkit-touch-callout none
	-webkit-user-select none
	-khtml-user-select none
	-moz-user-select none
	-ms-user-select none
	user-select none

button()
	vertical_gradient(#565656, #444)
	border 0
	box-shadow 1px 1px 1px #666
	color lighten(spotcolor, 30%)
	border-radius 6px
	line-height 24px
	margin -1px 6px 0 0
	cursor pointer
	font-size 0.9rem

	&:active
		vertical_gradient(#444, #565656)
		box-shadow -1px -1px 1px #333
		color spotcolor

	&.inactive
		color #969696