h2 History
.entries
	each entries, date in logEntries
		h3= date
		ul
			each entry in entries
				li
					span.username= entry.userName
					span &nbsp;
					span.comment= entry.comment
button.simple.more Show the next 500 entries