ul.diacritics
	li Ā
	li Ă
	li À
	li Á
	li Â
	li Ã
	li Ä
	li Å
	li Ą
	li Ɑ
	li ∀
	li Æ
	li ā
	li ă
	li à
	li á
	li â
	li ã
	li ä
	li å
	li ą
	li ɑ
	li æ
	li α
	li ª
	li ƀ
	li Ɓ
	li β
	li ɓ
	li Ç
	li Ć
	li Ĉ
	li Ċ
	li Č
	li Ɔ
	li ɔ
	li ç
	li ς
	li ć
	li ĉ
	li ċ
	li č
	li ¢
	li đ
	li Ð
	li Ď
	li Đ
	li Ḏ
	li Ɗ
	li ð
	li ď
	li ḏ
	li ɖ
	li ɗ
	li È
	li É
	li Ê
	li Ë
	li Ē
	li Ė
	li Ę
	li Ẹ
	li Ě
	li Ə
	li Æ
	li Ǝ
	li Ɛ
	li €
	li è
	li é
	li ê
	li ë
	li ē
	li ė
	li ę
	li ẹ
	li ě
	li ə
	li æ
	li ε
	li ɛ
	li €
	li Ƒ
	li Ʃ
	li ƒ
	li ʃ
	li ƭ
	li Ĝ
	li Ğ
	li Ġ
	li Ģ
	li Ƣ
	li ĝ
	li ğ
	li ġ
	li ģ
	li ɠ
	li ƣ
	li Ĥ
	li Ħ
	li ĥ
	li ħ
	li ɦ
	li ẖ
	li Ì
	li Í
	li Î
	li Ï
	li Ī
	li Į
	li Ị
	li İ
	li Ɨ
	li ì
	li í
	li î
	li ï
	li ī
	li į
	li ị
	li ɨ
	li Ĳ
	li ĳ
	li ι
	li Ĵ
	li ĵ
	li ɟ
	li ĳ
	li Ķ
	li Ƙ
	li ķ
	li ƙ
	li ꝁ
	li Ĺ
	li Ļ
	li Ľ
	li Ł
	li Λ
	li ĺ
	li ļ
	li ľ
	li ł
	li ƚ
	li λ
	li Ñ
	li Ń
	li Ņ
	li Ň
	li Ŋ
	li Ɲ
	li ₦
	li ñ
	li ń
	li ņ
	li ň
	li ŋ
	li ɲ
	li Ò
	li Ó
	li Ô
	li Õ
	li Ö
	li Ō
	li Ø
	li Ő
	li Œ
	li Ơ
	li Ɵ
	li ò
	li ó
	li ô
	li õ
	li ö
	li ō
	li ø
	li ő
	li œ
	li ơ
	li ɵ
	li °
	li 
	li ꝑ
	li Ƥ
	li ¶
	li ƥ
	li ꝗ
	li Ŕ
	li Ř
	li Ɍ
	li Ɽ
	li ŕ
	li ř
	li ɍ
	li ɽ
	li ſ
	li Ś
	li Ŝ
	li Ş
	li Ṣ
	li Š
	li ś
	li ŝ
	li ş
	li ṣ
	li š
	li ẜ
	li Þ
	li §
	li ß
	li ſ
	li þ
	li Ţ
	li Ť
	li Ṯ
	li Ƭ
	li Ʈ
	li ţ
	li ť
	li ṯ
	li ƭ
	li ʈ
	li Ù
	li Ú
	li Û
	li Ü
	li Ū
	li Ŭ
	li Ů
	li Ű
	li Ų
	li Ʉ
	li Ư
	li Ʊ
	li ù
	li ú
	li û
	li ü
	li ū
	li ŭ
	li ů
	li ű
	li ų
	li ư
	li μ
	li υ
	li ʉ
	li ʊ
	li Ʋ
	li ʋ
	li Ŵ
	li Ẅ
	li Ω
	li ŵ
	li ẅ
	li ω
	li Ý
	li Ŷ
	li Ÿ
	li Ɣ
	li Ƴ
	li ý
	li ŷ
	li ÿ
	li ȳ
	li ɣ
	li y
	li ƴ
	li Ź
	li Ż
	li Ž
	li Ƶ
	li Ʒ
	li Ẕ
	li ź
	li ż
	li ž
	li ƶ
	li ẕ
	li ʒ
	li ƹ
	li £
	li ¥
	li €
	li ₩
	li ₨
	li ₳
	li Ƀ
	li ℔
	li ¤
	li ¡
	li ‼
	li ‽
	li ¿
	li ‽
	li ‰
	li …
	li ∻
	li •
	li ±
	li ‐
	li –
	li —
	li ±
	li †
	li ‡
	li ′
	li ″
	li ‴
	li ‘
	li ’
	li ‚
	li ‛
	li “
	li ”
	li „
	li ‟
	li ≤
	li ‹
	li ≥
	li ›
	li ≈
	li ≠
	li ≡
	li &#x0180;
	li &#x2184;
	li &#x0111;
	li &#x0256;
	li &#x0127;
	li &#xA741;
	li &#x019A;
	li &#xA751;
	li &#xA757;
	li &#x1E9C;
	li &#x0233;
	li &#x223B;
	li &#x2114;
	li &#xE5DC;
	li &#xE665;
	li ‡
	li 
	li 
	li 
	li 
	li 
	li 
	li ů
	li 
	li 
	li ẃ

// 	li &#xF158;
//	li &#xF1A6;
