fieldset.span100
	ul(data-model-id=model.cid)
		li.message.error
		li.input
			label Enter your email address:
			input(type="text", name="email")
		li.submit
			button(name="cancel") Cancel
			span or
			button(name="submit").disabled Reset my password
				i.fa.fa-spinner.fa-spin