@font-face
	font-family "Junicode"
	src url("../static/fonts/Junicode.eot")
	src url("../static/fonts/Junicode.eot?#iefix") format("embedded-opentype"),
		url("../static/fonts/Junicode.ttf") format("truetype"),
		url("../static/fonts/Junicode.woff") format("woff")
	font-weight normal
	font-style normal

@font-face
	font-family "Samba"
	src url("../static/fonts/Samba-webfont.eot")
	src	url("../static/fonts/Samba-webfont.eot?#iefix") format("embedded-opentype"),
		url("../static/fonts/Samba-webfont.ttf") format("truetype"),
		url("../static/fonts/Samba-webfont.woff") format("woff")
	font-weight normal
	font-style normal

@font-face
	font-family "titus"
	src	url("../static/fonts/tituscbz.ttf") format("truetype")
	font-weight normal
	font-style normal
 
textFont = "Junicode", "Arial unicode MS", "times new roman", "serif"
logoFont = "Samba"

defaultPurple = #b325a0
lightYellow = #fffeed
mediumGrey = #8f8f8f
lightGrey = #e6e6e6
darkGrey = #444444
turquoise = #8cd5d5
skyBlue = #6ca1e5
lightBlueGrey = #e2ecee

annotationsBackground = #fcf
controlsButtonColor = turquoise

pTop = 15px

numberHighlight = #BA5DB6
