doctype
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		title Huygens ING
		link(rel="stylesheet", type="text/css", href="/font-awesome/css/font-awesome.min.css")
		script.
			var BASE_URL = '/';
			//- var BASE_URL = 'http://local.test:4002/elab4-hattem';
	body
