@import './import/*'

// body > .modal
// 	.modalbody
// 		form.edit-entry-metadata
// 			input[type="text"]
// 				width 375px

preview()
	position relative

	.linenumbers
		position absolute
		text-align right
		list-style none
		top 10px
		color #BBB
		font-size 0.9em

	.body
		padding 10px 0 0 24px

		sup[data-marker]
			select_none()
			color #FFF
			font-size 0.75em
			padding 0px 1px
			cursor pointer
			border-radius 2px
			box-shadow 1px 1px 2px #888
			text-shadow 1px 1px 1px rgba(100, 100, 100, 0.6)
			margin 0 3px
			background-color #FFBEFC
			font-weight bold
			line-height 0

		// For hovering annotations
		span.hilite
			background-color lighten(#FFBEFC, 40%)

		// For active annotations
		span.hilite[data-highlight]
			background-color #FFBEFC
			padding 1px 2px
			border-radius 4px

		// For full text query highlighting
		span.highlight
			background #FF0
			padding 4px 6px 2px 6px
			border-radius 4px
			box-shadow 1px 1px 2px #CCC

#printpreview
	display none

.entry
	.container
		.middle-pane
			.entrymetadata-placeholder
				padding 0 10px
			.transcription-placeholder, .annotation-placeholder
				position relative

				.transcriptioneditmenu, .annotationeditmenu
					select_none()
					position absolute
					width 200px
					left 47%
					margin-left -0.5 * @width
					bottom 24px
					opacity 0.3
					transition all 500ms
					background-color rgba(255, 255, 255, 0.8)
					padding 5px
					border 1px solid #CCC
					border-radius 12px
					text-align center

					&:hover
						opacity 1

				.annotationeditmenu
					text-align left

					button
						&.ok
							position absolute
							right 0px
						&.cancel
							position absolute
							right 45px

				.transcriptioneditmenu
					width 50px
					margin-left -0.5 * @width

					button
						margin-right 0px


		.preview-placeholder
			position relative
			
			h2
				position absolute
				top -53px
				left 15px
				color #CCC
				font-size 1.5em

		.preview
			line-height 2.25em
			white-space nowrap
			overflow-y auto
			margin-top 66px
			padding-left 10px

			&.wrap
				white-space normal

				.linenumbers
					display none

			span.emptylayer
				padding-left 6px
				color #DDD
				font-style italic
				font-size 1.2em
			
			.body-container
				preview()

					

.supertinyeditor
	.ste-header

		&.annotationtext
			padding 0 6px
			overflow hidden
			white-space nowrap
			text-overflow ellipsis
			line-height 31px /* Same as .ste-header to vertically center text */
			font-size 1.2em
			font-weight bold

			&:before
				content: '"'

			&:after
				content: '"'

	.ste-body
		background-color #EEE
		// padding 10px 10px 0 10px

body.ste-iframe-body
	padding 10px 0 0 10px
	// padding 6px 0 0 0 // Explicitely set the padding-bottom for FF
	line-height 2.25em

	sup[data-marker]
		display none

div.closebutton
	padding 2px
	margin 4px
	background-color white
	border-radius 4px

	img
		vertical-align middle

@media print
	header.main
		display none

	#printpreview
		display block
		line-height 2.25em
		

		.body-container
			preview()
			margin-bottom 50px

			.body
				sup[data-marker]
					color black
					background none
					text-shadow none
					box-shadow none

			.linenumbers
				color #777

		h2
			color black


	#container
		display none