header
	white-space nowrap
	z-index 100

	.main
		position fixed
		left 0
		right 0

		.row
			margin 0 auto

			*
				vertical-align middle
		

	.main
		background-color black
		top 0
		z-index 50 // render .main above .sub
		
		& .cell
			line-height mainHeaderHeight

		div.logo
			overflow hidden
			
			.projecttitle
				margin-left 10px
				white-space nowrap
				font-weight bold
				overflow hidden
				cursor pointer

		nav
			display inline-block

			&.user, &.project
				li
					background-color black
					overflow hidden

					&.projects:after, &.username:after, &.thisproject:after
						margin-left 3px
						content url('../images/arrow_down.png')

				.vertical.menu
					li
						padding-top 2px
						box-shadow 0px -9px 30px rgba(34, 34, 34, 0.8)

						&:hover
							background #222
							text-shadow 1px 2px black

						&:hover + li
							box-shadow 0px -9px 30px #444