@import './import/*'

.modal.reset-password
	.body
		margin 0

		fieldset
			padding-left 0
			margin-bottom 0

			ul
				margin-top 20px

				li:last-child
					float right
					margin-top 30px

				label
					font-size 1.1em
					width 100%

				input
					margin-top 4px
					font-size 1.2em
					width 100%
					line-height 24px

				button[name="submit"]
					margin-left 0

				span
					margin-right 10px

				button[name="cancel"]
					background none
					color red
					border none

#main > .login

	h2
		margin-top 0
		text-align left

	.federated
		padding-left 5%
		margin-top 40px

		button.federated-login
			margin-left 0
			width 75px

	form.login
		text-align left
		box-shadow none
		border 1px solid #DDD

		ul
			&.message
				li
					display none
					text-align left
					padding 12px
					background #F00
					border-radius 4px
					color #FFF
					font-weight bold
					margin-bottom 18px
			
			li.login
				margin-top 20px

			li.loggingin
				display none
				padding 10px
				background-color white
				margin-left 100px
				border 1px solid #CCC
				margin-bottom 8px

				img
					margin-left 10px

			li.resetpassword
				color #46AAA8
				font-size 0.8em
				cursor pointer
				margin -6px 0 0 100px
