@import './import/*'

.modal.reset-password
	.body
		margin 0

		fieldset
			padding-left 0
			margin-bottom 0

			ul
				margin-top 20px

				li:last-child
					float right
					margin-top 30px

				label
					font-size 1.1em
					width 100%

				input
					margin-top 4px
					font-size 1.2em
					width 100%
					line-height 24px

				button[name="submit"]
					margin-left 0

				span
					margin-right 10px

				button[name="cancel"]
					background none
					color red
					border none

#main > .login
	
	.left-pane, .right-pane
		display inline-block
		width 50%
		box-sizing border-box
		// -moz-box-sizing border-box
		vertical-align top
		padding 20px

	.right-pane
		padding-top 46px

	h2
		margin-top 0
		text-align left

	.federated
		margin-top 40px

		button.federated-login
			margin-left 0
			width 100px
			height 26px

	form.login
		text-align left
		box-shadow none
		border 1px solid #DDD
		width 280px

		ul
			&.message
				li
					display none
					text-align left
					padding 12px
					background #F00
					border-radius 3px
					color #FFF
					font-weight bold
			
			li.login
				button
					margin 20px 0 0 100px
					border-radius 3px
					height 26px
					width 100px
					border 1px solid #CCC
					color #333

					&.loading
						background white

						i.fa
							display inline-block

				i.fa
					display none
					margin-left 8px

			li.resetpassword
				color #46AAA8
				font-size 0.8em
				cursor pointer
				margin -6px 0 0 100px
