@import './import/*'

#main > .login

	h2
		margin-top 0
		text-align left

	.federated
		padding-left 5%
		margin-top 40px

		button.federated-login
			margin-left 0
			width 75px

	form.login
		text-align left

		ul.message
			li
				display none
				text-align left
				padding 12px
				background #F00
				border-radius 4px
				color #FFF
				font-weight bold
				margin-bottom 18px
		
		li.loggingin
			display none
			padding 10px
			background-color white
			margin-left 100px
			border 1px solid #CCC
			margin-bottom 8px

			img
				margin-left 10px