html, body
	font-family Verdana, Arial, Helvetica, sans-serif
	font-size 12px
	// overflow hidden
	// height 100%

// #blackbar, #graybar
// 	position fixed
// 	width 100%

// #blackbar
// 	height 48px
// 	background-color black

// #graybar
// 	top 48px
// 	height 40px
// 	background-color #444

ul
	margin 0
	padding 0

#container
	margin 0 auto
	width 100%

	#main
		padding-top mainHeaderHeight + subHeaderHeight
		// height 100%

	// footer
	// 	text-align center

h1, h2, h3, h4, a
	color spotcolor

a:visited
	color darken(spotcolor, 30%)

div p:first-child
	margin-top 0

.white, .menu li.username
	color white

.submenu-menus
	display	none