html, body
	font-family Verdana, Arial, Helvetica, sans-serif
	font-size 12px
	// overflow hidden
	// height 100%

// #blackbar, #graybar
// 	position fixed
// 	width 100%

// #blackbar
// 	height 48px
// 	background-color black

// #graybar
// 	top 48px
// 	height 40px
// 	background-color #444

ul
	margin 0
	padding 0

#container
	margin 0 auto
	width 100%

	#main
		padding-top mainHeaderHeight + subHeaderHeight
		// height 100%

	// footer
	// 	text-align center

h1, h2, h3, h4, a
	color spotcolor

a:visited
	color darken(spotcolor, 30%)

div p:first-child
	margin-top 0

.white, .menu li.username
	color white

.submenu-menus
	display	none

form.login
	text-align left

	li.loggingin
		display none
		padding 10px
		background-color white
		margin-left 100px
		border 1px solid #CCC
		margin-bottom 8px

		img
			margin-left 10px

.region
	background #F1F1F1
	box-shadow 0 0 6px #AAA
	padding 12px
	border-radius 6px
