@import './import/functions.styl'
@import './import/variables.styl'

@media all and (max-width: 1000px)
	header.main
		.row
			width 100%

@media all and (max-width: 640px)
	.row
		.cell
			width 100%
			display block