.modal
	button.submit
		simplebutton()

	button.cancel
		color #D10000
		border none
		background none
		position relative
		padding-right 16px

		&:after
			position absolute
			right 0
			color #444
			content 'or'


.modal.entry-metadata
	button
		&.loader
			background white
			padding-bottom 6px
			cursor default
			vertical-align middle

			&:after
				content url('/images/hilib/views/modal/loader.gif')
				margin-left 6px
				position relative
				top 3px

	input, textarea
		font-size 15px

	label
		width 25%

	input
		width 75%

	textarea
		inline-block()
		width 75%
		overflow hidden
		resize none
		border 1px solid #DDD
		font-family Verdana, Arial

		&:focus
			outline none
			border-color rgba(70, 170, 168, 0.5)
			box-shadow 0 0 3px rgba(70, 170, 168, 0.75)
