// article
// 	position relative

// 	.panels-menu
// 		user-select none
// 		position absolute
// 		right 2.5%
// 		width 10%
// 		z-index 3
// 		font-size 9pt

// 		& > button.green
// 			width 100%

// 			&:after
// 				content: '▼'

// 		& > ul
// 			width 100%
// 			display none
// 			list-style none
// 			padding 0
// 			margin 0
// 			position absolute
// 			background-color lighten(turquoise, 90%)
// 			padding: 5px
// 			box-sizing: border-box
// 			margin-top: -2px
// 			border-bottom-left-radius 4px
// 			border-bottom-right-radius 4px
// 			box-shadow 1px 1px 1px #EEE

// 			li
// 				cursor move

// 				&.placeholder
// 					display none

// 				i.fa.checkbox
// 					margin-right 2px
// 					color gray
// 					cursor pointer

// 					&.fa-square-o
// 						margin-right 4px