.row.span3
	.cell.span1
		.pad2
			ul.facsimiles
				| <% facsimiles.each(function(facs) { %>
				li
					img(src="/images/icon.bin.png", width="14px", height="14px")
					label(data-id!="<%= facs.id %>")  <%= facs.get('name') %>
				| <% }); %>
	.cell.span2
		.pad2
			ul.form.addfacsimile
				li
					label Name
					input(type="text", name="name")
				li
					form.addfile(enctype="multipart/form-data")
						input(type="file", name="filename")
				li
					button.addfacsimile Add facsimile