.subsubmenu
	.editfacsimiles

.row.container(class=(user.get('roleNo') >= 20)?'span7':'span5')
	.cell.span3.left-pane
		iframe#viewer_iframe(name="viewer_iframe", scrolling="no", width="100%", frameborder="0")
		.preview-placeholder
	.cell.span2.middle-pane(style=(user.get('roleNo') < 20)?'display:none':'')
		.transcription-placeholder
			.transcription-editor
		.annotation-placeholder
			.annotation-editor
		.annotationmetadata-placeholder
			.annotationmetadata
	.cell.span2.right-pane
		.preview-placeholder