.submenu
	.row.span7
		.cell.span3.left
			ul.horizontal.menu
				li.arrowleft(data-key="previous") Previous entry
				li.arrowright(data-key="next") Next entry
				li(data-key="print") Print
				li.arrowdown(data-key="facsimiles") Facsimiles
					ul.vertical.menu
						| <% facsimiles.each(function(facs) { %>
						li(data-key="facsimile", data-value!="<%= facs.id %>") <%= facs.get('name') %>
						| <% }); %>
		.cell.span2
			ul.horizontal.menu
				li(data-key="save") Save
				li.arrowdown(data-key="layer") Layer
					ul.vertical.menu
						| <% transcriptions.each(function(trans) { %>
						li(data-key="transcription", data-value!="<%= trans.id %>") <%= trans.get('textLayer') %>
						| <% }); %>
				li(data-key="metadata") Metadata
		.cell.span2.alignright
			ul.horizontal.menu
				li(data-key="preview") Preview full screen

.row.span7.container
	.cell.span3
		.left
			| <% if (facsimiles.length) { %>
			iframe#viewer_iframe(name="viewer_iframe", scrolling="no", width="100%", height="800px", frameborder="0")
			| <% } %>
	.cell.span2
		.middle
			.transcription
			.annotation
	.cell.span2
		.right