h2= textLayer + ' layer'
if lineCount == 0
	span.emptylayer This layer is empty.
.body-container
	.body!= body
	ul.linenumbers
			- lineNumber = 1
			while lineNumber <= lineCount
				li= lineNumber
				- lineNumber++