h2
	span= textLayer + ' preview layer'
	//- >= USER
	if user.get('roleNo') >= 20
		i.fa.fa-print(style="color: #888; font-size: 0.8em; margin-left: 10px")
if lineCount == 0
	span.emptylayer This layer is empty.
.body-container
	.body!= body
	ul.linenumbers
			- lineNumber = 1
			while lineNumber <= lineCount
				li= lineNumber
				- lineNumber++