#supertinyeditor
	.tinyeditor
		.tinyeditor-header
			.tinyeditor-control(title='Bold', data-action='bold', style='background-position: 0px -120px;')
			.tinyeditor-control(title='Italic', data-action='italic', style='background-position: 0px -150px;')
			.tinyeditor-control(title='Underline', data-action='underline', style='background-position: 0px -180px;')
			.tinyeditor-control(title='Strikethrough', data-action='strikethrough', style='background-position: 0px -210px;')
			.tinyeditor-divider
			.tinyeditor-control(title='Subscript', data-action='subscript', style='background-position: 0px -240px;')
			.tinyeditor-control(title='Superscript', data-action='superscript', style='background-position: 0px -270px;')
		.tinyeditor-header
			.tinyeditor-control(title='Outdent', data-action='outdent', style='background-position: 0px -360px;')
			.tinyeditor-control(title='Indent', data-action='indent', style='background-position: 0px -390px;')
			.tinyeditor-divider
			.tinyeditor-control(title='Remove Formatting', data-action='removeformat', style='background-position: 0px -720px;')
			.tinyeditor-divider
			.tinyeditor-control(title='Undo', data-action='undo', style='background-position: 0px -540px;')
			.tinyeditor-control(title='Redo', data-action='redo', style='background-position: 0px -570px;')
		.tinyeditor-body(style='height: 100%;')
