fieldset.span100
	h3 Add annotation type to project
	ul(data-model-id=model.cid)
		li
			label Name
			input(type="text", name="name")
		li
			label Description
			input(type="text", name="description")
		li
			button.disabled(name="submit") Add type
				i.fa.fa-spinner.fa-spin