.padl5.padr5
	h2 Settings

	//- >= PROJECTLEADER
	if roleNo >= 30
		ul.horizontal.tab.menu
			li.active(data-tab="general") General
			li(data-tab="users") Users
			li(data-tab="entries") Entries
			li(data-tab="textlayers") Text layers
			li(data-tab="annotations") Annotations
		
		.active(data-tab="general")
			
		div(data-tab="textlayers")

		div(data-tab="entries")

		div(data-tab="annotations")
			.annotation-type-list
				h3 Add / remove annotation types
			.add-annotation-type
			.set-custom-tag-names
			
		div(data-tab="users")
	else
		p You are not authorized to alter project settings. Please contact the project leader.