fieldset.span100
	h3 Add user to project
	ul(data-model-id=model.cid)
		li
			label(for="username") Username *
			input(type="text", name="username")
		li
			label(for="email") E-mail *
			input(type="text", name="email")
		li
			label(for="firstName") First name
			input(type="text", name="firstName")
		li
			label(for="lastName") Last name
			input(type="text", name="lastName")
		li
			label(for="password") Password *
			input(type="password", name="password")
		li
			label(for="role") Role
			select(name="role")
				option(value="USER") USER
				option(value="READER") READER
				//- >= ADMIN
				if roleNo >= 40
					option(value="PROJECTLEADER") PROJECTLEADER
		li
			button.disabled(name="submit") Add user
				i.fa.fa-spinner.fa-spin