.btn{background:#d9dad9;background:-moz-linear-gradient(top,#d9dad9 0%,#8f8f8f 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#d9dad9),color-stop(100%,#8f8f8f));background:-webkit-linear-gradient(top,#d9dad9 0%,#8f8f8f 100%);background:-o-linear-gradient(top,#d9dad9 0%,#8f8f8f 100%);background:-ms-linear-gradient(top,#d9dad9 0%,#8f8f8f 100%);background:linear-gradient(to bottom,#d9dad9 0%,#8f8f8f 100%);filter:unquot('progid:DXImageTransform.Microsoft.gradient(startColorstr="topColor", endColorstr="bottomColor",GradientType=0 )');border:0;box-shadow:1px 1px 4px #858585;border-radius:6px;line-height:24px;margin:-1px 6px 0 0;cursor:pointer;font-size:.9rem;color:#fff;font-weight:bold;}
.btn:hover{background:#d5d6d5;background:-moz-linear-gradient(top,#d5d6d5 0%,#838383 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#d5d6d5),color-stop(100%,#838383));background:-webkit-linear-gradient(top,#d5d6d5 0%,#838383 100%);background:-o-linear-gradient(top,#d5d6d5 0%,#838383 100%);background:-ms-linear-gradient(top,#d5d6d5 0%,#838383 100%);background:linear-gradient(to bottom,#d5d6d5 0%,#838383 100%);filter:unquot('progid:DXImageTransform.Microsoft.gradient(startColorstr="topColor", endColorstr="bottomColor",GradientType=0 )')}
.btn:active{background:#9c9c9c;background:-moz-linear-gradient(top,#9c9c9c 0%,#d5d6d5 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#9c9c9c),color-stop(100%,#d5d6d5));background:-webkit-linear-gradient(top,#9c9c9c 0%,#d5d6d5 100%);background:-o-linear-gradient(top,#9c9c9c 0%,#d5d6d5 100%);background:-ms-linear-gradient(top,#9c9c9c 0%,#d5d6d5 100%);background:linear-gradient(to bottom,#9c9c9c 0%,#d5d6d5 100%);filter:unquot('progid:DXImageTransform.Microsoft.gradient(startColorstr="topColor", endColorstr="bottomColor",GradientType=0 )');box-shadow:-1px -1px 4px #858585;color:#fff}
.btn.inactive{color:#969696}
.btn[disabled]{color:#d3d3d3;background:#808080;cursor:default;}
.btn[disabled]:active{background:#808080;box-shadow:1px 1px 4px #858585}
.btn.ok{background:#71e57a;background:-moz-linear-gradient(top,#71e57a 0%,#04ac0a 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#71e57a),color-stop(100%,#04ac0a));background:-webkit-linear-gradient(top,#71e57a 0%,#04ac0a 100%);background:-o-linear-gradient(top,#71e57a 0%,#04ac0a 100%);background:-ms-linear-gradient(top,#71e57a 0%,#04ac0a 100%);background:linear-gradient(to bottom,#71e57a 0%,#04ac0a 100%);filter:unquot('progid:DXImageTransform.Microsoft.gradient(startColorstr="topColor", endColorstr="bottomColor",GradientType=0 )');border:0;box-shadow:1px 1px 4px #858585;border-radius:6px;line-height:24px;margin:-1px 6px 0 0;cursor:pointer;font-size:.9rem;color:#fff;font-weight:bold;}
.btn.ok:hover{background:#61e26b;background:-moz-linear-gradient(top,#61e26b 0%,#038808 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#61e26b),color-stop(100%,#038808));background:-webkit-linear-gradient(top,#61e26b 0%,#038808 100%);background:-o-linear-gradient(top,#61e26b 0%,#038808 100%);background:-ms-linear-gradient(top,#61e26b 0%,#038808 100%);background:linear-gradient(to bottom,#61e26b 0%,#038808 100%);filter:unquot('progid:DXImageTransform.Microsoft.gradient(startColorstr="topColor", endColorstr="bottomColor",GradientType=0 )')}
.btn.ok:active{background:#05d10c;background:-moz-linear-gradient(top,#05d10c 0%,#61e26b 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#05d10c),color-stop(100%,#61e26b));background:-webkit-linear-gradient(top,#05d10c 0%,#61e26b 100%);background:-o-linear-gradient(top,#05d10c 0%,#61e26b 100%);background:-ms-linear-gradient(top,#05d10c 0%,#61e26b 100%);background:linear-gradient(to bottom,#05d10c 0%,#61e26b 100%);filter:unquot('progid:DXImageTransform.Microsoft.gradient(startColorstr="topColor", endColorstr="bottomColor",GradientType=0 )');box-shadow:-1px -1px 4px #858585;color:#fff}
.btn.ok.inactive{color:#969696}
.btn.ok[disabled]{color:#d3d3d3;background:#808080;cursor:default;}
.btn.ok[disabled]:active{background:#808080;box-shadow:1px 1px 4px #858585}
.btn.cancel{background:#e57171;background:-moz-linear-gradient(top,#e57171 0%,#ac0404 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#e57171),color-stop(100%,#ac0404));background:-webkit-linear-gradient(top,#e57171 0%,#ac0404 100%);background:-o-linear-gradient(top,#e57171 0%,#ac0404 100%);background:-ms-linear-gradient(top,#e57171 0%,#ac0404 100%);background:linear-gradient(to bottom,#e57171 0%,#ac0404 100%);filter:unquot('progid:DXImageTransform.Microsoft.gradient(startColorstr="topColor", endColorstr="bottomColor",GradientType=0 )');border:0;box-shadow:1px 1px 4px #858585;border-radius:6px;line-height:24px;margin:-1px 6px 0 0;cursor:pointer;font-size:.9rem;color:#fff;font-weight:bold;}
.btn.cancel:hover{background:#e26161;background:-moz-linear-gradient(top,#e26161 0%,#880303 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#e26161),color-stop(100%,#880303));background:-webkit-linear-gradient(top,#e26161 0%,#880303 100%);background:-o-linear-gradient(top,#e26161 0%,#880303 100%);background:-ms-linear-gradient(top,#e26161 0%,#880303 100%);background:linear-gradient(to bottom,#e26161 0%,#880303 100%);filter:unquot('progid:DXImageTransform.Microsoft.gradient(startColorstr="topColor", endColorstr="bottomColor",GradientType=0 )')}
.btn.cancel:active{background:#d10505;background:-moz-linear-gradient(top,#d10505 0%,#e26161 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#d10505),color-stop(100%,#e26161));background:-webkit-linear-gradient(top,#d10505 0%,#e26161 100%);background:-o-linear-gradient(top,#d10505 0%,#e26161 100%);background:-ms-linear-gradient(top,#d10505 0%,#e26161 100%);background:linear-gradient(to bottom,#d10505 0%,#e26161 100%);filter:unquot('progid:DXImageTransform.Microsoft.gradient(startColorstr="topColor", endColorstr="bottomColor",GradientType=0 )');box-shadow:-1px -1px 4px #858585;color:#fff}
.btn.cancel.inactive{color:#969696}
.btn.cancel[disabled]{color:#d3d3d3;background:#808080;cursor:default;}
.btn.cancel[disabled]:active{background:#808080;box-shadow:1px 1px 4px #858585}
.btn.small{line-height:14px}

#debug{display:none;position:fixed;width:100px;height:100px;bottom:0;right:0;background:#000;color:#fff}

.entry .container .middle .entrymetadata-placeholder{padding:0 10px}
.entry .container .middle .transcription-placeholder,.entry .container .middle .annotation-placeholder{position:relative;}
.entry .container .middle .transcription-placeholder .transcriptioneditmenu,.entry .container .middle .annotation-placeholder .transcriptioneditmenu,.entry .container .middle .transcription-placeholder .annotationeditmenu,.entry .container .middle .annotation-placeholder .annotationeditmenu{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;position:absolute;width:200px;left:47%;margin-left:-100px;bottom:24px;opacity:.3;-webkit-transition:all 500ms;-moz-transition:all 500ms;-o-transition:all 500ms;transition:all 500ms;background-color:rgba(255,255,255,0.8);padding:5px;border:1px solid #ccc;border-radius:12px;text-align:center;}
.entry .container .middle .transcription-placeholder .transcriptioneditmenu:hover,.entry .container .middle .annotation-placeholder .transcriptioneditmenu:hover,.entry .container .middle .transcription-placeholder .annotationeditmenu:hover,.entry .container .middle .annotation-placeholder .annotationeditmenu:hover{opacity:1}
.entry .container .middle .transcription-placeholder .annotationeditmenu,.entry .container .middle .annotation-placeholder .annotationeditmenu{text-align:left;}
.entry .container .middle .transcription-placeholder .annotationeditmenu button.ok,.entry .container .middle .annotation-placeholder .annotationeditmenu button.ok{position:absolute;right:0}
.entry .container .middle .transcription-placeholder .annotationeditmenu button.cancel,.entry .container .middle .annotation-placeholder .annotationeditmenu button.cancel{position:absolute;right:45px}
.entry .container .middle .transcription-placeholder .transcriptioneditmenu,.entry .container .middle .annotation-placeholder .transcriptioneditmenu{width:50px;margin-left:-25px;}
.entry .container .middle .transcription-placeholder .transcriptioneditmenu button,.entry .container .middle .annotation-placeholder .transcriptioneditmenu button{margin-right:0}
.entry .container .right{line-height:1.75em;white-space:nowrap;overflow-y:auto;margin:76px 10px 0 10px;padding-bottom:10px;}
.entry .container .right .preview{position:relative;}
.entry .container .right .preview .linenumbers{position:absolute;text-align:right;list-style:none;top:6px;color:#bbb;font-size:.9em}
.entry .container .right .preview .body{padding:6px 0 0 24px}
.entry .container .right sup[data-marker]{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;color:#fff;font-size:.75em;padding:0 1px;cursor:pointer;border-radius:2px;box-shadow:1px 1px 2px #888;text-shadow:1px 1px 1px rgba(100,100,100,0.6);margin:0 3px;background-color:#ffbefc;font-weight:bold}
.entry .container .right span.hilite{vertical-align:baseline;background-color:#ffebfe}
.supertinyeditor .ste-header{box-shadow:2px 0 4px #ddd;}
.supertinyeditor .ste-header.annotationtext{padding:0 6px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;line-height:31px;font-size:1.1em;}
.supertinyeditor .ste-header.annotationtext:before{content:'"'}
.supertinyeditor .ste-header.annotationtext:after{content:'"'}
.supertinyeditor .ste-body{box-shadow:2px 0 4px #ddd;background-color:#f2f2f2;padding:10px 10px 0 10px}
body.ste-iframe-body{padding-top:6px;line-height:1.75em;}
body.ste-iframe-body sup[data-marker]{display:none}
div.closebutton{cursor:pointer;position:absolute;padding:2px;margin:4px;background-color:#fff;border-radius:4px;opacity:0}

form ul{list-style:none;}
form ul li{margin-bottom:8px;}
form ul li *{vertical-align:middle}
form ul li label{display:inline-block;width:100px;}
form ul li label.small{width:40px}
form ul li label.large{width:160px}
form ul li select{width:156px;border:1px solid #ccc;background:none}
form ul li input{width:150px;border:1px solid #ccc;padding-left:4px}
form ul li input[type="checkbox"]{width:auto}
form ul li input[type="submit"]{border:1px solid #ccc;margin-left:100px;box-shadow:1px 1px 2px #ccc;border-radius:4px;color:#333;padding:2px 6px;}
form ul li input[type="submit"].inactive{opacity:.5;cursor:default}
button.simple{border:1px solid #ccc;margin-left:100px;box-shadow:1px 1px 2px #ccc;border-radius:4px;color:#333;padding:2px 6px;}
button.simple.inactive{opacity:.5;cursor:default}

header.main{white-space:nowrap;z-index:100;}
header.main .main{position:fixed;left:0;right:0;top:0;background-color:#000;z-index:50;}
header.main .main .row{margin:0 auto}
header.main span.message{position:relative;display:inline-block;background:#fbedbf;background:-moz-linear-gradient(top,#fbedbf 0%,#efdd96 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fbedbf),color-stop(100%,#efdd96));background:-webkit-linear-gradient(top,#fbedbf 0%,#efdd96 100%);background:-o-linear-gradient(top,#fbedbf 0%,#efdd96 100%);background:-ms-linear-gradient(top,#fbedbf 0%,#efdd96 100%);background:linear-gradient(to bottom,#fbedbf 0%,#efdd96 100%);filter:unquot('progid:DXImageTransform.Microsoft.gradient(startColorstr="topColor", endColorstr="bottomColor",GradientType=0 )');font-size:.9em;font-weight:bold;color:#444;line-height:20px;border-radius:4px;padding:2px 30px 2px 12px;margin-top:-50px;-webkit-transition:margin-top 500ms;-moz-transition:margin-top 500ms;-o-transition:margin-top 500ms;transition:margin-top 500ms;box-shadow:1px 1px 2px #ccc;cursor:pointer;}
header.main span.message:after{content:'x';border:1px solid rgba(128,128,128,0.3);line-height:11px;text-shadow:1px 1px 4px #777;border-radius:2px;position:absolute;padding:0 2px;margin-top:4px;right:5px;color:#666}
header.main span.message.active{margin-top:11px}
header.main ul.horizontal.menu{display:inline-block;}
header.main ul.horizontal.menu li{background-color:#000;overflow:hidden;line-height:48px;}
header.main ul.horizontal.menu li.thisproject ul.vertical.menu{right:0}
header.main ul.horizontal.menu li.projects{overflow:visible;}
header.main ul.horizontal.menu li.projects ul.vertical.menu{position:absolute;margin:0 0 0 -430px;width:auto;max-height:326px;overflow-y:auto;overflow-x:hidden;}
header.main ul.horizontal.menu li.projects ul.vertical.menu li{width:200px;text-overflow:ellipsis}
header.main ul.horizontal.menu li ul.vertical.menu{width:140px;border-bottom-left-radius:6px;border-bottom-right-radius:6px;}
header.main ul.horizontal.menu li ul.vertical.menu li{border-top:1px solid #444;font-weight:normal;color:#ddd;box-shadow:1px 1px 2px #777;line-height:26px;}
header.main ul.horizontal.menu li ul.vertical.menu li:hover{background-color:#222;color:#fff}
header.main ul.horizontal.menu li ul.vertical.menu li:last-child{border-bottom-left-radius:6px;border-bottom-right-radius:6px}
header.main ul.horizontal.menu li ul.vertical.menu li.spacer{border:none;background:none;height:17px;box-shadow:none}
header.main .user .vertical.menu{margin-left:-62px}
header.main .projecttitle{font-size:1.3em;display:inline-block;max-width:400px;overflow:hidden;text-overflow:ellipsis}

.shake{animation-name:shake;animation-duration:150ms;animation-iteration-count:2;animation-timing-function:linear;-moz-animation-name:shake;-moz-animation-duration:150ms;-moz-animation-iteration-count:2;-moz-animation-timing-function:linear;-webkit-animation-name:shake;-webkit-animation-duration:150ms;-webkit-animation-iteration-count:2;-webkit-animation-timing-function:linear}
.pulse{animation-name:pulse;animation-duration:500ms;animation-iteration-count:2;animation-timing-function:linear;-moz-animation-name:pulse;-moz-animation-duration:500ms;-moz-animation-iteration-count:2;-moz-animation-timing-function:linear;-webkit-animation-name:pulse;-webkit-animation-duration:500ms;-webkit-animation-iteration-count:2;-webkit-animation-timing-function:linear}
@-moz-keyframes shake{0%{-webkit-transform:translate(3px,0);-moz-transform:translate(3px,0);-ms-transform:translate(3px,0);-o-transform:translate(3px,0);transform:translate(3px,0)}
50%{-webkit-transform:translate(-3px,0);-moz-transform:translate(-3px,0);-ms-transform:translate(-3px,0);-o-transform:translate(-3px,0);transform:translate(-3px,0)}
100%{-webkit-transform:translate(0,0);-moz-transform:translate(0,0);-ms-transform:translate(0,0);-o-transform:translate(0,0);transform:translate(0,0)}
}@-webkit-keyframes shake{0%{-webkit-transform:translate(3px,0);-moz-transform:translate(3px,0);-ms-transform:translate(3px,0);-o-transform:translate(3px,0);transform:translate(3px,0)}
50%{-webkit-transform:translate(-3px,0);-moz-transform:translate(-3px,0);-ms-transform:translate(-3px,0);-o-transform:translate(-3px,0);transform:translate(-3px,0)}
100%{-webkit-transform:translate(0,0);-moz-transform:translate(0,0);-ms-transform:translate(0,0);-o-transform:translate(0,0);transform:translate(0,0)}
}@-o-keyframes shake{0%{-webkit-transform:translate(3px,0);-moz-transform:translate(3px,0);-ms-transform:translate(3px,0);-o-transform:translate(3px,0);transform:translate(3px,0)}
50%{-webkit-transform:translate(-3px,0);-moz-transform:translate(-3px,0);-ms-transform:translate(-3px,0);-o-transform:translate(-3px,0);transform:translate(-3px,0)}
100%{-webkit-transform:translate(0,0);-moz-transform:translate(0,0);-ms-transform:translate(0,0);-o-transform:translate(0,0);transform:translate(0,0)}
}@-ms-keyframes shake{0%{-webkit-transform:translate(3px,0);-moz-transform:translate(3px,0);-ms-transform:translate(3px,0);-o-transform:translate(3px,0);transform:translate(3px,0)}
50%{-webkit-transform:translate(-3px,0);-moz-transform:translate(-3px,0);-ms-transform:translate(-3px,0);-o-transform:translate(-3px,0);transform:translate(-3px,0)}
100%{-webkit-transform:translate(0,0);-moz-transform:translate(0,0);-ms-transform:translate(0,0);-o-transform:translate(0,0);transform:translate(0,0)}
}@keyframes shake{0%{-webkit-transform:translate(3px,0);-moz-transform:translate(3px,0);-ms-transform:translate(3px,0);-o-transform:translate(3px,0);transform:translate(3px,0)}
50%{-webkit-transform:translate(-3px,0);-moz-transform:translate(-3px,0);-ms-transform:translate(-3px,0);-o-transform:translate(-3px,0);transform:translate(-3px,0)}
100%{-webkit-transform:translate(0,0);-moz-transform:translate(0,0);-ms-transform:translate(0,0);-o-transform:translate(0,0);transform:translate(0,0)}
}@-moz-keyframes pulse{0%{opacity:1;-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1)}
50%{opacity:.75;-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-ms-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1)}
100%{opacity:1;-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1)}
}@-webkit-keyframes pulse{0%{opacity:1;-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1)}
50%{opacity:.75;-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-ms-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1)}
100%{opacity:1;-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1)}
}@-o-keyframes pulse{0%{opacity:1;-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1)}
50%{opacity:.75;-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-ms-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1)}
100%{opacity:1;-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1)}
}@-ms-keyframes pulse{0%{opacity:1;-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1)}
50%{opacity:.75;-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-ms-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1)}
100%{opacity:1;-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1)}
}@keyframes pulse{0%{opacity:1;-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1)}
50%{opacity:.75;-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-ms-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1)}
100%{opacity:1;-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1)}
}
.row{font-size:0;}
.row *{vertical-align:top}
.row sub{vertical-align:sub}
.row sup{vertical-align:super}
.row .aligncenter{text-align:center}
.row .alignright{text-align:right}
.row .cell{display:inline-block;font-size:1rem;}
.row .cell.test{background-color:rgba(0,0,255,0.5);min-height:200px}
.row.span1 > .cell.span1{width:100%}
.row.span2 > .cell.span1{width:50%}
.row.span3 > .cell.span1{width:33%}
.row.span3 > .cell.span2{width:66%}
.row.span4 > .cell.span1{width:25%}
.row.span4 > .cell.span2{width:50%}
.row.span4 > .cell.span3{width:75%}
.row.span5 > .cell.span1{width:20%}
.row.span5 > .cell.span2{width:40%}
.row.span5 > .cell.span3{width:60%}
.row.span5 > .cell.span4{width:80%}
.row.span6 > .cell.span1{width:16%}
.row.span6 > .cell.span2{width:33%}
.row.span6 > .cell.span3{width:50%}
.row.span6 > .cell.span4{width:66%}
.row.span6 > .cell.span5{width:83%}
.row.span7 > .cell.span1{width:14%}
.row.span7 > .cell.span2{width:28%}
.row.span7 > .cell.span3{width:42%}
.row.span7 > .cell.span4{width:57%}
.row.span7 > .cell.span5{width:71%}
.row.span7 > .cell.span6{width:85%}
.row.span8 > .cell.span1{width:12%}
.row.span8 > .cell.span2{width:25%}
.row.span8 > .cell.span3{width:37%}
.row.span8 > .cell.span4{width:50%}
.row.span8 > .cell.span5{width:62%}
.row.span8 > .cell.span6{width:75%}
.row.span8 > .cell.span7{width:87%}
.row.span9 > .cell.span1{width:11%}
.row.span9 > .cell.span2{width:22%}
.row.span9 > .cell.span3{width:33%}
.row.span9 > .cell.span4{width:44%}
.row.span9 > .cell.span5{width:55%}
.row.span9 > .cell.span6{width:66%}
.row.span9 > .cell.span7{width:77%}
.row.span9 > .cell.span8{width:88%}
.row.span10 > .cell.span1{width:10%}
.row.span10 > .cell.span2{width:20%}
.row.span10 > .cell.span3{width:30%}
.row.span10 > .cell.span4{width:40%}
.row.span10 > .cell.span5{width:50%}
.row.span10 > .cell.span6{width:60%}
.row.span10 > .cell.span7{width:70%}
.row.span10 > .cell.span8{width:80%}
.row.span10 > .cell.span9{width:90%}
.row.span11 > .cell.span1{width:9%}
.row.span11 > .cell.span2{width:18%}
.row.span11 > .cell.span3{width:27%}
.row.span11 > .cell.span4{width:36%}
.row.span11 > .cell.span5{width:45%}
.row.span11 > .cell.span6{width:54%}
.row.span11 > .cell.span7{width:63%}
.row.span11 > .cell.span8{width:72%}
.row.span11 > .cell.span9{width:81%}
.row.span11 > .cell.span10{width:90%}
.row.span12 > .cell.span1{width:8%}
.row.span12 > .cell.span2{width:16%}
.row.span12 > .cell.span3{width:25%}
.row.span12 > .cell.span4{width:33%}
.row.span12 > .cell.span5{width:41%}
.row.span12 > .cell.span6{width:50%}
.row.span12 > .cell.span7{width:58%}
.row.span12 > .cell.span8{width:66%}
.row.span12 > .cell.span9{width:75%}
.row.span12 > .cell.span10{width:83%}
.row.span12 > .cell.span11{width:91%}
.row.span13 > .cell.span1{width:7%}
.row.span13 > .cell.span2{width:15%}
.row.span13 > .cell.span3{width:23%}
.row.span13 > .cell.span4{width:30%}
.row.span13 > .cell.span5{width:38%}
.row.span13 > .cell.span6{width:46%}
.row.span13 > .cell.span7{width:53%}
.row.span13 > .cell.span8{width:61%}
.row.span13 > .cell.span9{width:69%}
.row.span13 > .cell.span10{width:76%}
.row.span13 > .cell.span11{width:84%}
.row.span13 > .cell.span12{width:92%}
.row.span14 > .cell.span1{width:7%}
.row.span14 > .cell.span2{width:14%}
.row.span14 > .cell.span3{width:21%}
.row.span14 > .cell.span4{width:28%}
.row.span14 > .cell.span5{width:35%}
.row.span14 > .cell.span6{width:42%}
.row.span14 > .cell.span7{width:50%}
.row.span14 > .cell.span8{width:57%}
.row.span14 > .cell.span9{width:64%}
.row.span14 > .cell.span10{width:71%}
.row.span14 > .cell.span11{width:78%}
.row.span14 > .cell.span12{width:85%}
.row.span14 > .cell.span13{width:92%}
.row.span15 > .cell.span1{width:6%}
.row.span15 > .cell.span2{width:13%}
.row.span15 > .cell.span3{width:20%}
.row.span15 > .cell.span4{width:26%}
.row.span15 > .cell.span5{width:33%}
.row.span15 > .cell.span6{width:40%}
.row.span15 > .cell.span7{width:46%}
.row.span15 > .cell.span8{width:53%}
.row.span15 > .cell.span9{width:60%}
.row.span15 > .cell.span10{width:66%}
.row.span15 > .cell.span11{width:73%}
.row.span15 > .cell.span12{width:80%}
.row.span15 > .cell.span13{width:86%}
.row.span15 > .cell.span14{width:93%}
.row.span16 > .cell.span1{width:6%}
.row.span16 > .cell.span2{width:12%}
.row.span16 > .cell.span3{width:18%}
.row.span16 > .cell.span4{width:25%}
.row.span16 > .cell.span5{width:31%}
.row.span16 > .cell.span6{width:37%}
.row.span16 > .cell.span7{width:43%}
.row.span16 > .cell.span8{width:50%}
.row.span16 > .cell.span9{width:56%}
.row.span16 > .cell.span10{width:62%}
.row.span16 > .cell.span11{width:68%}
.row.span16 > .cell.span12{width:75%}
.row.span16 > .cell.span13{width:81%}
.row.span16 > .cell.span14{width:87%}
.row.span16 > .cell.span15{width:93%}
.row.span17 > .cell.span1{width:5%}
.row.span17 > .cell.span2{width:11%}
.row.span17 > .cell.span3{width:17%}
.row.span17 > .cell.span4{width:23%}
.row.span17 > .cell.span5{width:29%}
.row.span17 > .cell.span6{width:35%}
.row.span17 > .cell.span7{width:41%}
.row.span17 > .cell.span8{width:47%}
.row.span17 > .cell.span9{width:52%}
.row.span17 > .cell.span10{width:58%}
.row.span17 > .cell.span11{width:64%}
.row.span17 > .cell.span12{width:70%}
.row.span17 > .cell.span13{width:76%}
.row.span17 > .cell.span14{width:82%}
.row.span17 > .cell.span15{width:88%}
.row.span17 > .cell.span16{width:94%}
.row.span18 > .cell.span1{width:5%}
.row.span18 > .cell.span2{width:11%}
.row.span18 > .cell.span3{width:16%}
.row.span18 > .cell.span4{width:22%}
.row.span18 > .cell.span5{width:27%}
.row.span18 > .cell.span6{width:33%}
.row.span18 > .cell.span7{width:38%}
.row.span18 > .cell.span8{width:44%}
.row.span18 > .cell.span9{width:50%}
.row.span18 > .cell.span10{width:55%}
.row.span18 > .cell.span11{width:61%}
.row.span18 > .cell.span12{width:66%}
.row.span18 > .cell.span13{width:72%}
.row.span18 > .cell.span14{width:77%}
.row.span18 > .cell.span15{width:83%}
.row.span18 > .cell.span16{width:88%}
.row.span18 > .cell.span17{width:94%}
.row.span19 > .cell.span1{width:5%}
.row.span19 > .cell.span2{width:10%}
.row.span19 > .cell.span3{width:15%}
.row.span19 > .cell.span4{width:21%}
.row.span19 > .cell.span5{width:26%}
.row.span19 > .cell.span6{width:31%}
.row.span19 > .cell.span7{width:36%}
.row.span19 > .cell.span8{width:42%}
.row.span19 > .cell.span9{width:47%}
.row.span19 > .cell.span10{width:52%}
.row.span19 > .cell.span11{width:57%}
.row.span19 > .cell.span12{width:63%}
.row.span19 > .cell.span13{width:68%}
.row.span19 > .cell.span14{width:73%}
.row.span19 > .cell.span15{width:78%}
.row.span19 > .cell.span16{width:84%}
.row.span19 > .cell.span17{width:89%}
.row.span19 > .cell.span18{width:94%}
.row.span20 > .cell.span1{width:5%}
.row.span20 > .cell.span2{width:10%}
.row.span20 > .cell.span3{width:15%}
.row.span20 > .cell.span4{width:20%}
.row.span20 > .cell.span5{width:25%}
.row.span20 > .cell.span6{width:30%}
.row.span20 > .cell.span7{width:35%}
.row.span20 > .cell.span8{width:40%}
.row.span20 > .cell.span9{width:45%}
.row.span20 > .cell.span10{width:50%}
.row.span20 > .cell.span11{width:55%}
.row.span20 > .cell.span12{width:60%}
.row.span20 > .cell.span13{width:65%}
.row.span20 > .cell.span14{width:70%}
.row.span20 > .cell.span15{width:75%}
.row.span20 > .cell.span16{width:80%}
.row.span20 > .cell.span17{width:85%}
.row.span20 > .cell.span18{width:90%}
.row.span20 > .cell.span19{width:95%}
.pad1{padding:1%}
.padl1{padding-left:1%}
.padr1{padding-right:1%}
.padt1{padding-top:1%}
.padb1{padding-bottom:1%}
.pad2{padding:2%}
.padl2{padding-left:2%}
.padr2{padding-right:2%}
.padt2{padding-top:2%}
.padb2{padding-bottom:2%}
.pad3{padding:3%}
.padl3{padding-left:3%}
.padr3{padding-right:3%}
.padt3{padding-top:3%}
.padb3{padding-bottom:3%}
.pad4{padding:4%}
.padl4{padding-left:4%}
.padr4{padding-right:4%}
.padt4{padding-top:4%}
.padb4{padding-bottom:4%}
.pad5{padding:5%}
.padl5{padding-left:5%}
.padr5{padding-right:5%}
.padt5{padding-top:5%}
.padb5{padding-bottom:5%}
.pad6{padding:6%}
.padl6{padding-left:6%}
.padr6{padding-right:6%}
.padt6{padding-top:6%}
.padb6{padding-bottom:6%}
.pad7{padding:7%}
.padl7{padding-left:7%}
.padr7{padding-right:7%}
.padt7{padding-top:7%}
.padb7{padding-bottom:7%}
.pad8{padding:8%}
.padl8{padding-left:8%}
.padr8{padding-right:8%}
.padt8{padding-top:8%}
.padb8{padding-bottom:8%}
.pad9{padding:9%}
.padl9{padding-left:9%}
.padr9{padding-right:9%}
.padt9{padding-top:9%}
.padb9{padding-bottom:9%}
.pad10{padding:10%}
.padl10{padding-left:10%}
.padr10{padding-right:10%}
.padt10{padding-top:10%}
.padb10{padding-bottom:10%}
.pad12{padding:12%}
.padl12{padding-left:12%}
.padr12{padding-right:12%}
.padt12{padding-top:12%}
.padb12{padding-bottom:12%}
.pad15{padding:15%}
.padl15{padding-left:15%}
.padr15{padding-right:15%}
.padt15{padding-top:15%}
.padb15{padding-bottom:15%}
.pad20{padding:20%}
.padl20{padding-left:20%}
.padr20{padding-right:20%}
.padt20{padding-top:20%}
.padb20{padding-bottom:20%}
.pad30{padding:30%}
.padl30{padding-left:30%}
.padr30{padding-right:30%}
.padt30{padding-top:30%}
.padb30{padding-bottom:30%}
.pad40{padding:40%}
.padl40{padding-left:40%}
.padr40{padding-right:40%}
.padt40{padding-top:40%}
.padb40{padding-bottom:40%}
.pad50{padding:50%}
.padl50{padding-left:50%}
.padr50{padding-right:50%}
.padt50{padding-top:50%}
.padb50{padding-bottom:50%}

html,body{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:12px}
ul{margin:0;padding:0}
#container{margin:0 auto;width:100%;}
#container #main{padding-top:88px}
h1,h2,h3,h4,a{color:#46aaa8}
a:visited{color:#317776}
div p:first-child{margin-top:0}
.white,.menu li.username{color:#fff}
.submenu-menus{display:none}
form.login{text-align:left}
.region{background:#f1f1f1;box-shadow:0 0 6px #aaa;padding:12px;border-radius:6px}

@media all and (max-width: 1000px){header.main .row{width:100%}
}@media all and (max-width: 640px){.row .cell{width:100%;display:block}
}
.menu{position:relative;padding:0;margin:0;font-size:0;}
.menu li{font-size:1rem;font-weight:bold;color:#fff;white-space:nowrap;text-shadow:none;position:relative;list-style:none;padding:0 10px;margin:0;}
.menu li:hover{cursor:pointer}
.menu li.active{cursor:default}
.menu li:hover > ul,.menu li.active.persist > ul{display:block}
.menu li.arrowleft{padding-left:18px;}
.menu li.arrowleft:before{position:absolute;width:0;height:0;border-style:solid;border-width:5px;border-color:rgba(0,0,0,0) #fff rgba(0,0,0,0) rgba(0,0,0,0);content:"";margin:7px 0 0 -15px}
.menu li.arrowright{padding-right:18px;}
.menu li.arrowright:after{position:absolute;width:0;height:0;border-style:solid;border-width:5px;border-color:rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0) #fff;content:"";margin:7px 0 0 6px}
.menu li.arrowdown{padding-right:22px;}
.menu li.arrowdown:after{content:"";position:absolute;width:0;height:0;top:50%;border-style:solid;border-width:5px}
.menu li.arrowdown:after{margin:-2px 0 0 5px;border-color:#fff rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0);-webkit-transition:all 300ms;-moz-transition:all 300ms;-o-transition:all 300ms;transition:all 300ms}
.menu li.arrowdown.rotateup:after{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg);margin-top:-6px}
.menu li.arrowup{padding-right:22px;}
.menu li.arrowup:after{position:absolute;width:0;height:0;border-style:solid;border-width:5px;border-color:rgba(0,0,0,0) rgba(0,0,0,0) #fff rgba(0,0,0,0);content:"";margin:5px 0 0 6px}
.menu li ul{position:absolute;display:none;padding:0}
.menu.horizontal > li{position:static;display:inline-block;}
.menu.horizontal > li ul{margin-left:-10px;}
.menu.horizontal > li ul li{line-height:24px}
.menu.vertical{width:200px;text-align:left;}
.menu.vertical ul{top:-1px;left:210px}

.projecthistory{padding-left:40px;}
.projecthistory h3{color:#444}
.projecthistory ul{list-style:none;margin-left:16px;}
.projecthistory ul span{display:inline-block;overflow-x:hidden;text-overflow:ellipsis;}
.projecthistory ul span.username{color:#808080}

.projectsearch .submenu{box-shadow:0 12px 12px #fff}
.projectsearch .resultview header{padding-bottom:12px;border-bottom:1px solid #ddd;}
.projectsearch .resultview header h3{margin-top:0}
.projectsearch .resultview header nav{color:#46aaa8;}
.projectsearch .resultview header nav ul li{margin-left:6px;cursor:pointer;display:inline-block;}
.projectsearch .resultview header nav ul li label{color:#000;cursor:default}
.projectsearch .resultview header .editselection-placeholder{display:none;background:#f1f1f1;box-shadow:0 0 6px #aaa;margin-bottom:20px;border-radius:6px;}
.projectsearch .resultview header .editselection-placeholder h3{margin:0;padding:12px}
.projectsearch .resultview header .editselection-placeholder form{padding:12px}
.projectsearch .resultview header .editselection-placeholder li *{vertical-align:middle}
.projectsearch .resultview header .editselection-placeholder li input[type="checkbox"]{margin-left:6px}
.projectsearch .resultview header .editselection-placeholder footer{text-align:right;padding:0 8px 8px 0;}
.projectsearch .resultview header .editselection-placeholder footer *{vertical-align:middle}
.projectsearch .resultview header .editselection-placeholder footer button[name="cancel"]{background:none;border:none;box-shadow:1px 1px 2px #ccc;color:#f66;border-radius:4px}
.projectsearch .resultview header .editselection-placeholder footer span{margin:0 4px 0 8px}
.projectsearch .resultview header .pagination-placeholder .pagination{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;display:none;}
.projectsearch .resultview header .pagination-placeholder .pagination li{color:#46aaa8;padding:4px}
.projectsearch .resultview header .pagination-placeholder .pagination .inactive,.projectsearch .resultview header .pagination-placeholder .pagination .text{color:#bbb;cursor:default}
.projectsearch .resultview > ul{margin-top:20px;list-style:none;}
.projectsearch .resultview > ul li{margin-bottom:12px;}
.projectsearch .resultview > ul li input[type="checkbox"]{margin-right:4px}
.projectsearch .resultview > ul li label{font-size:1.1rem;cursor:pointer}
.projectsearch .resultview > ul li .keywords{color:#bbb;display:none;}
.projectsearch .resultview > ul li .keywords ul{list-style:none;margin-top:4px;}
.projectsearch .resultview > ul li .keywords ul li{margin:0;margin-left:18px;}
.projectsearch .resultview > ul li .keywords ul li em{color:#ffbefc}

.projectsettings .tab.menu{font-size:0;}
.projectsettings .tab.menu li{color:#4d4d4d;padding:8px 30px 6px 30px;margin:0;border:1px solid #ddd;border-left:0;border-bottom:0;background-color:#eee;}
.projectsettings .tab.menu li:first-child{border-left:1px solid #ddd;border-top-left-radius:8px}
.projectsettings .tab.menu li:last-child{border-top-right-radius:8px}
.projectsettings .tab.menu li:hover{background-color:#e7e7e7}
.projectsettings .tab.menu li.active{color:#000;background-color:#fff;box-shadow:0 1px 0 #fff}
.projectsettings div[data-tab]{display:none;padding:0 10px 60px 10px;box-shadow:1px 1px 3px #ddd;border:1px solid #ddd;border-radius:12px;border-top-left-radius:0;}
.projectsettings div[data-tab].active{display:block}
.projectsettings div[data-tab] h4{margin-top:3px;margin-right:10px;display:inline-block}
.projectsettings div[data-tab] .adduser input[type="submit"]{margin-left:0}
.projectsettings div[data-tab] ul.selected-annotation-types{padding-left:16px}

.modal button.submit{border:1px solid #ccc;margin-left:100px;box-shadow:1px 1px 2px #ccc;border-radius:4px;color:#333;padding:2px 6px;}
.modal button.submit.inactive{opacity:.5;cursor:default}
.modal button.cancel{color:#d10000;border:none;background:none;position:relative;padding-right:16px;}
.modal button.cancel:after{position:absolute;right:0;color:#444;content:'or'}

.submenu{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-color:#444;position:fixed;left:0;right:0;top:48px;z-index:49;height:40px;}
.submenu .row{margin:0 auto;}
.submenu .row *{vertical-align:middle}
.submenu .cell{line-height:40px;}
.submenu .cell .horizontal.menu > li{background:#565656;background:-moz-linear-gradient(top,#565656 0%,#444 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#565656),color-stop(100%,#444));background:-webkit-linear-gradient(top,#565656 0%,#444 100%);background:-o-linear-gradient(top,#565656 0%,#444 100%);background:-ms-linear-gradient(top,#565656 0%,#444 100%);background:linear-gradient(to bottom,#565656 0%,#444 100%);filter:unquot('progid:DXImageTransform.Microsoft.gradient(startColorstr="topColor", endColorstr="bottomColor",GradientType=0 )');border:0;box-shadow:1px 1px 1px #666;color:#79c8c6;border-radius:6px;line-height:24px;margin:-1px 6px 0 0;cursor:pointer;font-size:.9rem;position:relative;}
.submenu .cell .horizontal.menu > li:active{background:#444;background:-moz-linear-gradient(top,#444 0%,#565656 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#444),color-stop(100%,#565656));background:-webkit-linear-gradient(top,#444 0%,#565656 100%);background:-o-linear-gradient(top,#444 0%,#565656 100%);background:-ms-linear-gradient(top,#444 0%,#565656 100%);background:linear-gradient(to bottom,#444 0%,#565656 100%);filter:unquot('progid:DXImageTransform.Microsoft.gradient(startColorstr="topColor", endColorstr="bottomColor",GradientType=0 )');box-shadow:-1px -1px 1px #333;color:#46aaa8}
.submenu .cell .horizontal.menu > li.inactive{color:#969696}
.submenu .cell .horizontal.menu > li.alignright{position:absolute;right:0;top:50%;margin-top:-12px}
.submenu .cell .horizontal.menu > li[data-key="previous"]{padding-left:18px;padding-right:0;}
.submenu .cell .horizontal.menu > li[data-key="previous"]:before{content:"";position:absolute;width:0;height:0;top:50%;border-style:solid;border-width:5px;border-color:rgba(0,0,0,0) #46aaa8 rgba(0,0,0,0) rgba(0,0,0,0);margin:-5px 0 0 -15px}
.submenu .cell .horizontal.menu > li[data-key="previous"]:after{margin-left:-6px}
.submenu .cell .horizontal.menu > li[data-key="current"]{background:none;box-shadow:none;color:#ccc}
.submenu .cell .horizontal.menu > li[data-key="next"]{padding-right:18px;padding-right:10px;}
.submenu .cell .horizontal.menu > li[data-key="next"]:after{content:"";position:absolute;width:0;height:0;top:50%;border-style:solid;border-width:5px}
.submenu .cell .horizontal.menu > li[data-key="next"]:after{border-color:rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0) #46aaa8;margin:-5px 0 0 6px}
.submenu .cell .horizontal.menu > li[data-key="next"]:after{margin-left:-3px}
.submenu .cell .horizontal.menu > li[data-key="facsimiles"],.submenu .cell .horizontal.menu > li[data-key="editfacsimiles"],.submenu .cell .horizontal.menu > li[data-key="edittextlayers"],.submenu .cell .horizontal.menu > li[data-key="layer"]{padding-right:22px;}
.submenu .cell .horizontal.menu > li[data-key="facsimiles"]:after,.submenu .cell .horizontal.menu > li[data-key="editfacsimiles"]:after,.submenu .cell .horizontal.menu > li[data-key="edittextlayers"]:after,.submenu .cell .horizontal.menu > li[data-key="layer"]:after{content:"";position:absolute;width:0;height:0;top:50%;border-style:solid;border-width:5px}
.submenu .cell .horizontal.menu > li[data-key="facsimiles"]:after,.submenu .cell .horizontal.menu > li[data-key="editfacsimiles"]:after,.submenu .cell .horizontal.menu > li[data-key="edittextlayers"]:after,.submenu .cell .horizontal.menu > li[data-key="layer"]:after{margin:-2px 0 0 5px;border-color:#46aaa8 rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0);-webkit-transition:all 300ms;-moz-transition:all 300ms;-o-transition:all 300ms;transition:all 300ms}
.submenu .cell .horizontal.menu > li[data-key="facsimiles"].rotateup:after,.submenu .cell .horizontal.menu > li[data-key="editfacsimiles"].rotateup:after,.submenu .cell .horizontal.menu > li[data-key="edittextlayers"].rotateup:after,.submenu .cell .horizontal.menu > li[data-key="layer"].rotateup:after{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg);margin-top:-6px}
.submenu .cell .vertical.menu{border-bottom-left-radius:6px;border-bottom-right-radius:6px;}
.submenu .cell .vertical.menu > li{border-bottom:1px solid #666;background-color:#444;box-shadow:2px 0 4px #888;overflow:hidden;text-overflow:ellipsis;font-weight:normal;color:#9fd8d6;}
.submenu .cell .vertical.menu > li.spacer{background:none;height:8px;box-shadow:none}
.submenu .cell .vertical.menu > li:hover{color:#46aaa8}
.submenu .cell .vertical.menu > li:last-child{border-bottom-left-radius:6px;border-bottom-right-radius:6px;box-shadow:2px 0 4px #888}
.submenu .cell .vertical.menu > li[data-key="edittextlayers"],.submenu .cell .vertical.menu > li[data-key="editfacsimiles"]{color:#bbb;}
.submenu .cell .vertical.menu > li[data-key="edittextlayers"]:hover,.submenu .cell .vertical.menu > li[data-key="editfacsimiles"]:hover{color:#ddd}

.subsubmenu{position:fixed;left:0;right:0;top:-200px;background-color:#666;box-shadow:0 30px 60px rgba(17,17,17,0.8);-webkit-transition:top 300ms;-moz-transition:top 300ms;-o-transition:top 300ms;transition:top 300ms;z-index:48;}
.subsubmenu.active{top:88px}
.subsubmenu h3{margin:0 0 10px 0;color:#ccc;text-shadow:1px 1px 1px #000;font-size:1em}
.subsubmenu .editfacsimiles,.subsubmenu .edittextlayers{display:none;}
.subsubmenu .editfacsimiles form.addfile,.subsubmenu .edittextlayers form.addfile{display:none}
.subsubmenu .editfacsimiles ul,.subsubmenu .edittextlayers ul{list-style:none;}
.subsubmenu .editfacsimiles ul.textlayers,.subsubmenu .edittextlayers ul.textlayers,.subsubmenu .editfacsimiles ul.facsimiles,.subsubmenu .edittextlayers ul.facsimiles{white-space:nowrap;}
.subsubmenu .editfacsimiles ul.textlayers *,.subsubmenu .edittextlayers ul.textlayers *,.subsubmenu .editfacsimiles ul.facsimiles *,.subsubmenu .edittextlayers ul.facsimiles *{cursor:pointer}
.subsubmenu .editfacsimiles ul.textlayers li.destroy span.name,.subsubmenu .edittextlayers ul.textlayers li.destroy span.name,.subsubmenu .editfacsimiles ul.facsimiles li.destroy span.name,.subsubmenu .edittextlayers ul.facsimiles li.destroy span.name{color:#ccc;border:1px solid #5c0000;padding:3px 8px 6px 6px;font-weight:bold;border-radius:6px;text-shadow:1px 1px 1px #000;box-shadow:1px 1px 4px #333;background-color:#910000;font-size:.9em;}
.subsubmenu .editfacsimiles ul.textlayers li.destroy span.name label,.subsubmenu .edittextlayers ul.textlayers li.destroy span.name label,.subsubmenu .editfacsimiles ul.facsimiles li.destroy span.name label,.subsubmenu .edittextlayers ul.facsimiles li.destroy span.name label{width:auto}
.subsubmenu .editfacsimiles ul.textlayers li.destroy span.orcancel,.subsubmenu .edittextlayers ul.textlayers li.destroy span.orcancel,.subsubmenu .editfacsimiles ul.facsimiles li.destroy span.orcancel,.subsubmenu .edittextlayers ul.facsimiles li.destroy span.orcancel{display:inline-block}
.subsubmenu .editfacsimiles ul.textlayers span.orcancel,.subsubmenu .edittextlayers ul.textlayers span.orcancel,.subsubmenu .editfacsimiles ul.facsimiles span.orcancel,.subsubmenu .edittextlayers ul.facsimiles span.orcancel{margin-left:6px;display:none}
.subsubmenu .editfacsimiles ul li,.subsubmenu .edittextlayers ul li{margin-bottom:6px;color:#79c8c6;}
.subsubmenu .editfacsimiles ul li label,.subsubmenu .edittextlayers ul li label{display:inline-block;width:40px}
.subsubmenu .editfacsimiles ul li input,.subsubmenu .edittextlayers ul li input,.subsubmenu .editfacsimiles ul li textarea,.subsubmenu .edittextlayers ul li textarea{width:200px;border:1px solid #666;padding:0 0 0 2px;margin:0}
.subsubmenu .editfacsimiles ul li button,.subsubmenu .edittextlayers ul li button{background:#565656;background:-moz-linear-gradient(top,#565656 0%,#444 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#565656),color-stop(100%,#444));background:-webkit-linear-gradient(top,#565656 0%,#444 100%);background:-o-linear-gradient(top,#565656 0%,#444 100%);background:-ms-linear-gradient(top,#565656 0%,#444 100%);background:linear-gradient(to bottom,#565656 0%,#444 100%);filter:unquot('progid:DXImageTransform.Microsoft.gradient(startColorstr="topColor", endColorstr="bottomColor",GradientType=0 )');border:0;box-shadow:1px 1px 1px #666;color:#79c8c6;border-radius:6px;line-height:24px;margin:-1px 6px 0 0;cursor:pointer;font-size:.9rem;}
.subsubmenu .editfacsimiles ul li button:active,.subsubmenu .edittextlayers ul li button:active{background:#444;background:-moz-linear-gradient(top,#444 0%,#565656 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#444),color-stop(100%,#565656));background:-webkit-linear-gradient(top,#444 0%,#565656 100%);background:-o-linear-gradient(top,#444 0%,#565656 100%);background:-ms-linear-gradient(top,#444 0%,#565656 100%);background:linear-gradient(to bottom,#444 0%,#565656 100%);filter:unquot('progid:DXImageTransform.Microsoft.gradient(startColorstr="topColor", endColorstr="bottomColor",GradientType=0 )');box-shadow:-1px -1px 1px #333;color:#46aaa8}
.subsubmenu .editfacsimiles ul li button.inactive,.subsubmenu .edittextlayers ul li button.inactive{color:#969696}
.subsubmenu .editfacsimiles ul li button,.subsubmenu .edittextlayers ul li button,.subsubmenu .editfacsimiles ul li input[type="file"],.subsubmenu .edittextlayers ul li input[type="file"]{margin-left:40px}
.subsubmenu .editfacsimiles ul li img,.subsubmenu .edittextlayers ul li img{margin-right:6px}

#tooltip,.tooltip{display:none;position:absolute;padding:0;z-index:1000;background:#f1e8e1;border-radius:10px;box-shadow:1px 1px 5px #969696;min-width:72px;max-width:200px;}
#tooltip.addannotation button,.tooltip.addannotation button{border:0;background:none;padding-top:2px;font-weight:normal;color:#000;box-shadow:none;margin:0}
#tooltip.newannotation,.tooltip.newannotation{min-width:36px;}
#tooltip.newannotation .body,.tooltip.newannotation .body{display:none}
#tooltip.newannotation .horizontal.menu,.tooltip.newannotation .horizontal.menu{border-bottom-left-radius:10px;border-bottom-right-radius:10px;padding-bottom:4px;}
#tooltip.newannotation .horizontal.menu.left,.tooltip.newannotation .horizontal.menu.left{width:36px;text-align:center;}
#tooltip.newannotation .horizontal.menu.left li.delete,.tooltip.newannotation .horizontal.menu.left li.delete{margin:0}
#tooltip.newannotation .horizontal.menu.right,.tooltip.newannotation .horizontal.menu.right{display:none}
#tooltip .horizontal.menu,.tooltip .horizontal.menu{border-top-left-radius:10px;border-top-right-radius:10px;padding-top:8px;background:#f1e8e1;display:inline-block;}
#tooltip .horizontal.menu.left,.tooltip .horizontal.menu.left{text-align:left}
#tooltip .horizontal.menu.right,.tooltip .horizontal.menu.right{float:right;padding-right:4px}
#tooltip .horizontal.menu li,.tooltip .horizontal.menu li{padding:0;margin:0 0 0 4px}
#tooltip .body,.tooltip .body{border-top:1px solid #e2d0c1;border-bottom-left-radius:10px;border-bottom-right-radius:10px;background:#ede1d7;padding:10px;max-height:300px;overflow-y:auto}
#tooltip:after,.tooltip:after{position:absolute;width:0;height:0;border-style:solid;border-width:10px;border-color:transparent transparent #f1e8e1 transparent;top:-20px;left:50%;margin-left:-10px;content:""}
#tooltip.tipright:after,.tooltip.tipright:after{left:66%}
#tooltip.tipleft:after,.tooltip.tipleft:after{left:33%}
#tooltip.tipbottom:after,.tooltip.tipbottom:after{border-color:#ede1d7 transparent transparent transparent;bottom:-20px;top:auto}
