.left-menu
	ul.horizontal.menu
		li(data-key="newsearch") New search
		li.inactive(data-key="save-edit-metadata")
			span Save
			i.fa.fa-spinner.fa-spin
		li(data-key="cancel-edit-metadata") Cancel
//- >= USER
if user.get('roleNo') >= 20
	.middle-menu
		ul.horizontal.menu
			li(data-key="newentry")= 'Add '+config.get('entryTermSingular')
			li(data-key="editmetadata") Edit results metadata
	.right-menu
		ul.horizontal.menu
			//- >= PROJECTLEADER
			if user.get('roleNo') >= 30
				li(data-key="publish") 
					span Publish draft
					i.fa.fa-spinner.fa-spin
			//- >= ADMIN
			if user.get('roleNo') >= 40 && projects.length > 1
				li(data-key="delete") Remove project