.left-pane
		h1 eLaborate
		
		p
			| eLaborate is an online work environment in which scholars can upload scans, transcribe and annotate text, and publish the results 
			| as on online text edition which is freely available to all users. Short information about and a link to already published editions 
			| is presented on the page Editions under Published. Information about editions currently being prepared is posted on the page 
			| Ongoing projects.

		p
			| The eLaborate work environment for the creation and publication of online digital editions is developed by the Huygens Institute 
			| for the History of the Netherlands of the Royal Netherlands Academy of Arts and Sciences. This website is the companion to the 
			| fourth version of the software, which was released on 31 March 2014.

		p
			| Information about access to the work environment can be found in <a data-bypass target="_blank" href="http://elaborate.huygens.knaw.nl">http://elaborate.huygens.knaw.nl</a> through the tab About eLaborate 
			| on the page For users. Details about the technical side is available on the page For programmers. This page also gives information 
			| about the open source version of the software. The history of eLaborate is described on the page About eLaborate.

		h2 eLaborate2

		p
			| Those still using eLaborate2 can find their work environment by following this link: <a data-bypass target="_blank" href="http://www.e-laborate.nl/en/">http://www.e-laborate.nl/en/</a>. 
			| In the course of 2014, projects using eLaborate2 will be migrated to eLaborate4. The eLaborate team will contact the project leaders to discuss the best time frame for the migration and to arrange instruction in eLaborate4.

		h2 Links

		p 
			| More about Huygens ING at <a data-bypass target="_blank" href="http://www.huygens.knaw.nl/">http://www.huygens.knaw.nl/</a>

.right-pane
	h2 Regular login
	form.login.region
		ul.message
			li
		
		ul
			li
				label Username
				input#username(type="text", name="username")
			li
				label Password
				input#password(type="password", name="password")
			li.resetpassword Forgot your password?
			li.login
				button(name="submit") Login
					i.fa.fa-spinner.fa-spin

	.federated
		h2 Federated login
		button.simple.federated-login Login