fieldset.span100
	p Your password has been changed. Please continue to 
		a(name="login", href="login") login.

	ul(data-model-id=model.cid)
		li
			label Enter new password
			input(type="password", name="password1")
		li
			label Re-enter new password
			input(type="password", name="password2")
		li
			button.disabled(name="submit") Update password
				i.fa.fa-spinner.fa-spin