@import './import/*'
@import './entry/*'
@import './elaborate-modules/*'
@import './templates/*'
@import './annotations-index'
@import './header'
@import './print'

html, body
	font-size 12px
	font-family sans-serif
	margin 0
	padding 0
	overflow hidden

a
	color skyBlue
	text-decoration none
	font-family sans-serif

button
	background none
	box-shadow none
	border 1px solid #CCC
	border-radius 3px
	color #B325A0
	cursor pointer
	line-height 24px
	width 100%

.wrapper
	margin 0 auto
