//- .row.span3
//- 	.cell.span1
//- 		.pad2
//- 			h3 Text layers
//- 			ul.textlayers
//- 				| <% transcriptions.each(function(trans) { %>
//- 				li.textlayer(data-id!="<%= trans.id %>")
//- 					span.name
//- 						img(src="/images/icon.bin.png", width="14px", height="14px")
//- 						label <%= trans.get('textLayer') %>
//- 					span.orcancel or Cancel
//- 				| <% }); %>
//- 	.cell.span2
//- 		.pad2
//- 			h3 Add text layer
//- 			ul.form.addtextlayer
//- 				li
//- 					label Name
//- 					input(type="text", name="name")
//- 				li
//- 					label Text
//- 					textarea(name="text")
//- 				li
//- 					button.addtextlayer Add textlayer