.row.span3
	.close-button X
	.cell.span1
		.pad2
			h3 Facsimiles
			ul.facsimiles
				each facsimile in facsimiles.models
					li.facsimile(data-id=facsimile.id)
						span.name
							img(src="/static/images/icon.bin.png", width="14px", height="14px")
							label= facsimile.get('name')
						span.orcancel or Cancel
	.cell.span2
		.pad2
			h3 Upload new facsimile
			ul.form.addfacsimile
				li
					label Name
					input(type="text", name="name")
				li
					form.addfile(enctype="multipart/form-data")
						input(type="file", name="filename")
				li
					button.addfacsimile Add facsimile
