doctype
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title eLaborate
		link(rel="stylesheet", type="text/css", href="/css/main.css")
	body
		#container
			header.main
			div#main
			//- footer.main Huygens ING &copy; 2013

		script(data-main="/js/main", src="/lib/requirejs/require.js")