form
	ul
		list-style none

		li
			margin-bottom 8px

			*
				vertical-align middle

			label, select, input
				&.invalid
					border-color red

			label
				display inline-block
				width 100px

				&.small
					width 40px

				&.large
					width 160px

				&.invalid
					color red

			select
				width 156px // 6px = 4px padding left and 2px border
				border 1px solid #CCC
				background none

			input
				width 150px
				border 1px solid #CCC
				padding-left 4px

			input[type="checkbox"]
				width auto

			input[type="submit"]
				simplebutton()

button.simple
	simplebutton()

labelWidth = 40%
inputWidth = 60%
fieldsetPadding = 20px
invalidColor = #F33;

fieldsetWithLabelWidth(width)
	fieldset.label{width}
		ul li
			label
				width (width)%

			input, select, textarea
				width (100%-width)%

		button[name="submit"]
			margin-left (width)%

form.hilib
	fieldsetWithLabelWidth(20)
	fieldsetWithLabelWidth(30)
	fieldsetWithLabelWidth(50)
	fieldsetWithLabelWidth(60)

	fieldset
		display inline-block
		vertical-align top
		border 0
		box-sizing border-box
		padding 0 fieldsetPadding 0 fieldsetPadding
		margin fieldsetPadding 0 fieldsetPadding 0
		min-width 200px

		& + fieldset
			border-left 1px solid #EEE

		&.span100
			width 100%

		&.span50
			width 50%

			@media screen and (max-width: 600px)
				display block
				width 100%

		&.span33
			width 33.33%

		&.span66
			width 66.66%

		&.span25
			width 25%

		&.span75
			width 75%

		button[name="submit"]
			margin-left labelWidth

	ul
		li
			div.error
				background invalidColor
				color white
				border-radius 3px
				padding 3px 5px
				margin-top 2px

			label
				width labelWidth

			input, select
				width inputWidth

			input[type="checkbox"], input[type="radio"]
				width auto

			input, select, button
				border-color #DDD
				transition-property box-shadow, border-color
				transition-duration 250ms
				box-sizing border-box

				&:focus
					outline none
					border-color rgba(70, 170, 168, 0.5)
					box-shadow 0 0 3px rgba(70, 170, 168, 0.75)

				&.invalid
					border-color rgba(invalidColor, 0.5)
					box-shadow 0 0 3px rgba(invalidColor, 0.75)

	button[name="submit"]
		border none
		background #DDD
		border 1px solid #DDD
		padding 6px 10px
		border-radius 3px
		color #333
		margin-left fieldsetPadding

		&:hover
			background #CCC

		&.disabled
			opacity 0.5
			cursor default

			&:focus
				border-color #DDD
				box-shadow none

			&:hover
				background #DDD

		&.loader
			i.fa.fa-spinner
				display inline-block

		i.fa.fa-spinner
			margin -3px 0 0 8px
			display none